<app-header></app-header>
<div class="w-control">
    <div class="container gig-detail">
        <div class="row">

<div class="col-lg-8 col-mg-8 col-xs-12">

<div class="gig-page">
    <h1>I will create a professional whiteboard animation</h1>
    <div class="badge">BEST SELLER </div>&nbsp;<span>by No Matter Studios</span>
<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-3 location">
        <i class="fa fa-map-marker"></i>&nbsp;<span>NEW YORK, NY</span>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 location">
        <i class="fa fa-map-marker"></i>&nbsp;<span>Country & Folk</span>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3">
        <button class="btn btn-default"><i class="fa fa-heart"></i>&nbsp;Favourite</button>
    </div>
</div><br>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="img"></div>
    </div>
</div>
    
</div>

</div>


<div class="col-lg-4 col-md-4 col-xs-12">
    <div class="gig-page1"><br>
<div class="gig-pack">
    <div class="gig-pack1">
   <i class="fa fa-clock-o"></i><span>&nbsp;20 Days Delivery</span> &nbsp;&nbsp;
   <i class="fa fa-refresh"></i><span>&nbsp;3 Revisions</span>
   </div>
   <div class="gig-pack1">
       ***** 1,583 ratings
   </div><br><br>

   <div class="row">
<div class="col-lg-4 col-md-4 col-xs-4" (click)="zoom('sta')">
    <div class="zoom" id="sta">
        <div style="border-bottom:0.5px solid #999;background-color:#E9E9E9">
            <h4>ZOOM LITE</h4>
        </div>
        <div class="zoom-rate">
            <p>$750</p>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-4 col-xs-4"  (click)="zoom('pre')">
        <div class="zoom" id="pre">
            <div style="border-bottom:0.5px solid #999;background-color:#E9E9E9">
                <h4>ZOOM LITE</h4>
            </div>
            <div class="zoom-rate">
                <p>$750</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-4" (click)="zoom('pro')">
            <div class="zoom" id="pro">
                <div style="border-bottom:0.5px solid #999;background-color:#E9E9E9">
                    <h4>ZOOM LITE</h4>
                </div>
                <div class="zoom-rate">
                    <p>$750</p>
                </div>
            </div>
        </div>
   </div>
   
</div>
<p style="text-align:center;color:cadetblue;">Compare Packages</p>
<button style="background-color:#EC5252;width:80%;height:8vh;border-color:transparent;left:5%;transform:translate(15%,0)" class="btn btn-success">BUY NOW</button><hr>


<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-6">
        <div class="sold-text">
            <div style="display:flex">
                <i class="fa fa-clock-o"></i><span>&nbsp;&nbsp;Quick and Easy <br> &nbsp;&nbsp;Booking</span>
            </div>
            <div style="display:flex">
                    <i class="fa fa-clock-o"></i><span>&nbsp;&nbsp;3.5 Million<br>&nbsp; Experiences Sold</span>
                </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-6">
            <div class="sold-text">
                <div style="display:flex;">
                    <i class="fa fa-clock-o"></i><span>&nbsp;&nbsp;Quick and Easy <br> &nbsp;&nbsp;Booking</span>
                </div>
                <div style="display:flex">
                        <i class="fa fa-clock-o"></i><span>&nbsp;&nbsp;3.5 Million<br> &nbsp;&nbsp;Experiences Sold</span>
                    </div>
            </div>
        </div>
</div><br>

    </div>


    <!-- zoom2 -->
    <div style="display:none" class="gig-page1"><br>
        <div class="gig-pack">
            <div class="gig-pack1">
           <i class="fa fa-clock-o"></i><span>&nbsp;20 Days Delivery</span> &nbsp;&nbsp;
           <i class="fa fa-refresh"></i><span>&nbsp;3 Revisions</span>
           </div>
           <div class="gig-pack1">
               ***** 1,583 ratings
           </div><br><br>
        
           <h3 style="font-size:200%;font-weight:bold;color:rgb(53, 52, 52)">$640</h3>
           
        </div>
       
        <button style="background-color:#EC5252;width:80%;height:8vh;border-color:transparent;left:5%;transform:translate(15%,0)" class="btn btn-success">BUY NOW</button><hr>
        
        
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="sold-text">
                    <div style="display:flex">
                        <i class="fa fa-clock-o"></i><span>&nbsp;&nbsp;Quick and Easy <br> &nbsp;&nbsp;Booking</span>
                    </div>
                    <div style="display:flex">
                            <i class="fa fa-clock-o"></i><span>&nbsp;&nbsp;3.5 Million<br>&nbsp; Experiences Sold</span>
                        </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                    <div class="sold-text">
                        <div style="display:flex;">
                            <i class="fa fa-clock-o"></i><span>&nbsp;&nbsp;Quick and Easy <br> &nbsp;&nbsp;Booking</span>
                        </div>
                        <div style="display:flex">
                                <i class="fa fa-clock-o"></i><span>&nbsp;&nbsp;3.5 Million<br> &nbsp;&nbsp;Experiences Sold</span>
                            </div>
                    </div>
                </div>
        </div><br>
        
            </div>
    
    
</div>

        </div><br>


<!-- packages -->
<h3  class="h">PACKAGES</h3>
<div  class="packages-div">
        
        <table class="packages-table">
          <tr>
            <td class="left-t-header" rowspan="2"></td>
            <td>
              <div class="t-left-align"><span class="package-cost">$10<span id="std-p"></span></span><br><span class="package-name">Standard</span></div>
            </td>
            <td>
              <div class="t-left-align"><span class="package-cost">$10<span id="pre-p"></span></span><br><span class="package-name">Premium</span></div>
            </td>
            <td>
              <div class="t-left-align"><span class="package-cost">$10<span id="pro-p"></span></span><br><span class="package-name">Pro</span></div>
            </td>
          </tr>
          <tr>
            <td><span class="package-details">pac_det_sta</span></td>
            <td><span class="package-details">pac_det_pre</span></td>
            <td><span class="package-details">pac_det_pro</span></td>
          </tr>
          <tr>
            <td class="left-t-header">
              <div class="l-t-header">Seperate Files</div>
            </td>
             <td>
               <span>
                 <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                </span>
                <span>
                    -
                </span>
            </td>
            <td>
              <span>
                <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
              </span>
              <span>
                -
              </span>
            </td>
            <td>
                <span>
                    <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                  </span>
                  <span>
                    -
                  </span>
            </td>
          </tr>
          <tr>
            <td class="left-t-header">
              <div class="l-t-header">HQ Files</div>
            </td>
            <td>
                <span>
                    <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                   </span>
                   <span>
                       -
                   </span>
            </td>
            <td>
                <span>
                    <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                   </span>
                   <span>
                       -
                   </span>
            </td>
            <td>
                <span>
                    <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                   </span>
                   <span>
                       -
                   </span>
            </td>
          </tr>
          <tr>
            <td class="left-t-header">
              <div class="l-t-header">Word Included</div>
            </td>
            <td>
              words_sta
            </td>
            <td>
              words_pre
            </td>
            <td>
              words_pro
            </td>
          </tr>
          <tr>
            <td class="left-t-header">
              <div class="l-t-header">Revisions</div>
            </td>
            <td>
              rev_sta
            </td>
            <td>
                rev_pre
            </td>
            <td>
                rev_pro
            </td>
          </tr>
          <tr>
            <td class="left-t-header">
              <div class="l-t-header">Delivery Time</div>
            </td>
            <td>
              pac_del_sta
            </td>
            <td>
                pac_del_pre
            </td>
            <td>
                pac_del_pro
            </td>
          </tr>
          <tr>
            <td class="left-t-header"></td>
            <td>
              <button style="background-color:black;" class="package-select-btns pack-selected" id="standard-select-btn" (click)="selected_package('standard')">Selected <i class='fa fa-check' aria-hidden='true'></i></button>
            </td>
            <td>
              <button class="package-select-btns" id="premium-select-btn" (click)="selected_package('premium')">Select</button>
              <td>
                <button class="package-select-btns" id="pro-select-btn" (click)="selected_package('pro')">Select</button>
              </td>
          </tr>
        </table>
      </div>



<!-- package2 -->
      <div style="display:none" class="row" style="width:50%;border:0.5px solid #ddd;left:5%;transform:translate(3%,0)">

        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row" style="border-bottom:0.5px solid #ddd;background-color:#F7F7F7;border-right:0.5px solid #ddd">
                <h5 style="font-weight:500;padding:5px">Order Details</h5>
            </div>

            <div class="row" style="width:105%;">
                <div class="col-lg-9 col-md-9 col-xs-9" style="border-right:0.5px solid #ddd"><br>
                        <div class="gig-pack1">
                                <i class="fa fa-clock-o"></i><span>&nbsp;20 Days Delivery</span> &nbsp;&nbsp;
                                <i class="fa fa-refresh"></i><span>&nbsp;3 Revisions</span>
                                </div>   

                  <h6>Gold</h6>              
                  <p style="white-space:normal">Summarize what this package offers  buyers, and why tou include these items in your package.</p>

                  <ul>
                      <li><i style="color:green" class="fa fa-check"></i> Review & Critique</li>
                      <li><i style="color:green" class="fa fa-check"></i> Review & Critique</li>
                      <li><i style="color:green" class="fa fa-check"></i> Edit & Rewrite</li>
                      <li><i style="color:green" class="fa fa-check"></i> Cover Letter</li>
                  </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-xs-3"><br>
             <h6>Quantity</h6>
             <select style="border-radius:3px;width:100%">
                 <option>choose</option>
             </select>
                </div>
            </div>
        </div>
      </div><hr>


      <!-- extras -->
      <h1 style="font-size:150%;font-weight:bold;color:#999">My Extras</h1><br>
      

<div class="extras-text">
        <div class="row">

    <div class="col-lg-2 col-md-2 col-xs-2">
        <div style="width:10%" class="check">
            <i class="fa fa-square-o"></i>
        </div>
    </div>  
    
    <div class="col-lg-7 col-md-7 col-xs-7">
        <div style="width:80%;left:-20%;transform:translate(-20%,0)">
        <p style="font-size:100%;">I can include a professional covering letter</p>
        <span style="font-size:70%;color:#999;">Additional 1 working day</span>
    </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-3">
        <div style="width:50%;left:-20%;transform:translate(-120%,0)">
            <h1 style="font-size:220%;font-weight:bolder;color:#999">+$13</h1>
        </div>
    </div>
</div>

<div class="row">

        <div class="col-lg-2 col-md-2 col-xs-2">
            <div style="width:10%" class="check">
                <i class="fa fa-square-o"></i>
            </div>
        </div>  
        
        <div class="col-lg-7 col-md-7 col-xs-7">
            <div style="width:80%;left:-20%;transform:translate(-20%,0)">
            <p style="font-size:100%;">I can include a professional covering letter</p>
            <span style="font-size:70%;color:#999;">Additional 1 working day</span>
        </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-xs-3">
            <div style="width:50%;left:-20%;transform:translate(-120%,0)">
                <h1 style="font-size:220%;font-weight:bolder;color:#999">+$13</h1>
            </div>
        </div>
    </div>

    <div class="row">

            <div class="col-lg-2 col-md-2 col-xs-2">
                <div style="width:10%" class="check">
                    <i class="fa fa-square-o"></i>
                </div>
            </div>  
            
            <div class="col-lg-7 col-md-7 col-xs-7">
                <div style="width:80%;left:-20%;transform:translate(-20%,0);">
                <p style="font-size:100%;white-space:normal !important;">I can include a professional covering letter</p>
                <span style="font-size:70%;color:#999;">Additional 1 working day</span>
            </div>
            </div>
        
            <div class="col-lg-3 col-md-3 col-xs-3">
                <div style="width:50%;left:-20%;transform:translate(-120%,0)">
                    <h1 style="font-size:220%;font-weight:bolder;color:#999">+$13</h1>
                </div>
            </div>
        </div>

      </div><hr>


      <!-- about gig -->
      <h1 style="font-size:150%;font-weight:bold;color:#999">About the gig</h1><br>
<div class="row" style="width:70%;line-height:8px;font-size:100%;color:#999;white-space:normal !important;word-break:keep-all;border-bottom:0.5px solid #ddd">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <p>These beautiful reclaimed wooden signs are leaser engraved with your surname and then hand </p>
        <p>beautiful reclaimed wooden signs are leaser engraved with your surname and beautiful reclaimed  </p><br><br>
        <p>beautiful reclaimed wooden signs are leaser engraved with your surname and beautiful reclaimed</p>
        <p>beautiful reclaimed wooden signs are leaser engraved with your surname and beautiful </p>

    </div><br>
</div>

<!-- authors need start work -->
<h1 style="font-size:150%;font-weight:bold;color:#999">When the Author needs to start the work</h1><br>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <ol>
            <li>1. Business Industry</li>
            <li>2. What text you want to include on the logo</li>
            <li>3. Any slogans or tag lines?</li>
        </ol>
    </div>
</div>
<hr>
<!-- faq -->

<h1 style="font-size:150%;font-weight:bold;color:#999">FAQ'S</h1><hr>

<div class="row" style="width:50%;border-bottom:0.5px solid #ddd">
    
    <div class="col-lg-8 col-md-8 col-xs-8">
    <p>How do I edit this resume/CV template?</p>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-3">
<i style="float:right" class="fa fa-arrow-down"></i>
    </div>
</div>
<div class="row" style="width:50%;border-bottom:0.5px solid #ddd">
    
        <div class="col-lg-8 col-md-8 col-xs-8">
        <p>How do I edit this resume/CV template?</p>
        <p>Yes challangeability resumes orders. will be posted in here.</p>
        </div>
    
        <div class="col-lg-3 col-md-3 col-xs-3">
    <i style="float:right" class="fa fa-arrow-up"></i>
        </div>
    </div><br>


    <!-- team -->

<h1 style="font-size:150%;font-weight:bold;color:#999">MEET THE TEAM</h1><br>
<div class="team">
    
    <img src="../../assets/images/gig.png" class="img-fluid" style="width:100px;height:100px;border-radius:50px"><p style="left:50%;top:-150%;transform:translate(8%,-350%)"><i style="color:green" class="fa fa-check"></i>Verified</p>

    <span>Sara</span>
    <p>United Kingdom-Joined in August 2017</p>
    <button class="btn btn-success">Contact host</button>
</div>




    </div>
</div><br><br>

<!-- reviews -->

<div class="reviews">
        <div class="container gig-detail"><br>
        <h1 style="font-size:150%;font-weight:bold;color:#999">REVIEWS</h1> 


        
                <div style="float:left" class="reviews-div">
                  <div id="main-reviews-table">
                    <div class="rev-top-div">
                      <div id="main-rating-div">
                        <table>
                          <tr>
                            <td><span>Average  Rating</span></td>
                          </tr>
                          <tr>
                            <td><span class="rating">2.5</span></td>
                          </tr>
                          <tr>
                            <td id="n-ratings-td"> 
    
                      <div id="raty" score="f_avg_rat">*****</div>
                    </td>
                          </tr>
                        </table>
                      </div>
    
                      
                      <div class="exp-ratings-div">
                     
                          <table id="exp-rating-table">
                            <tr>
                              <td colspan="2" style="text-align:left !important;">Details</td>
                            </tr>
                            <tr>
                              <td class="s-w-td">5 Stars</td>
                              <td>
                                <div class="total-percent">
                                  <div class="fill-percent" id="five-star" [style.width]="f_five_rat"></div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="s-w-td">4 Stars</td>
                              <td>
                                <div class="total-percent">
                                  <div class="fill-percent" id="four-star" [style.width]="f_four_rat"></div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="s-w-td">3 Stars</td>
                              <td>
                                <div class="total-percent">
                                  <div class="fill-percent" id="three-star" [style.width]="f_three_rat"></div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="s-w-td">2 Stars</td>
                              <td>
                                <div class="total-percent">
                                  <div class="fill-percent" id="two-star" [style.width]="f_two_rat"></div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="s-w-td">1 Star</td>
                              <td>
                                <div class="total-percent">
                                  <div class="fill-percent" id="one-star" [style.width]="f_one_rat"></div>
                                </div>
                              </td>
                            </tr>
                          </table>
                      </div>
                    </div>
                    
                    <div>
                      <div class="rev-div">
                        <table class="u-details">
                          <tr>
                            <td colspan="2"><img src="../../assets/images/gig.png" class="reviewer-pic">
                              <div class="u-dets"><span class="u-name">rev.buyer_fname rev.buyer_lname</span><br><span class="posted-time">posted on 15/09/17</span></div>
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align:left">
                             5
                          </tr>
                          <tr>
                            <td>
                              <div class="u-review">
                               review text
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
    
    </div>
    </div>


<!-- <div class="gig-f-vp">
        <input type="button" value="Order Service" id="res-order-btn">
        <div class="w-control">
          <h2 class="bold g-title">
            Title 
          </h2>
          <div class="g-t-two-line">
            <span class="by">by&emsp;<a routerLink='/seller' class="bold" (click)="gotoProfile(seller_id)"><span style="color:rgb(10, 97, 238)">seller_fname seller_lname</span></a></span>
          </div>
          <div class="g-t-three-line">
            <span class="bold" style="color:#8b809e;"><i class="fa fa-map-marker" aria-hidden="true" style="margin-right:10px;font-size:98%;"></i>country</span>
             <a routerLink='/categories'><span class="name-category bold" style="margin-left:20px;color:#8b809e;"><i class="fa fa-tag" aria-hidden="true" style="margin-right:10px;font-size:98%;"></i>category</span></a>
          </div>
          <div class="gig-top-main">
           
           
            <div class="g-other-dets">
              <div class="cost-dets"><span class="small-red">FROM</span><span class="cost">$20</span></div>
              <div class="av-options-btn-div"><input type="button" id="av-op-btn" value="See Available Packages"></div>
              <hr>
              <div class="g-table-div">
                <table class="g-table">
                  <tr>
                    <td>Reviews</td>
                    <td style="vertical-align:middle" class="bold">2.4 Reviews</td>
                  </tr>
                  <tr>
                    <td>Delivery</td>
                    <td class="bold">3 days</td>
                  </tr>
                  <tr>
                    <td>Revisions</td>
                    <td class="bold">All levels</td>
                  </tr>
                  <tr>
                    <td>Language</td>
                    <td class="bold">English</td>
                  </tr>
                </table>
                <a (click)="go_to_inbox()">
                  <div id="ask-qstn" style="color:rgba(0,0,0,0.7)">Ask a question</div>
                </a>
                  <button id="add-fav-btn" (click)="addtoFav()">
                    <span *ngIf='fav_status == true'>
                        <i class="fa fa-heart" aria-hidden="true" style="color:#f00" ></i>
                        <span class="add-fav-btn-name">Added to favorites</span>
                      </span>
                      <span *ngIf='fav_status == false'>
                          <i class="fa fa-heart-o" aria-hidden="true" style="color:#f00" ></i>
                    <span class="add-fav-btn-name">Add to favorites</span>           
                  </span>
          </button>
              </div>
            </div>
          </div>
        
    </div>
    </div>
    <div class="clear-both"></div>
    <div class="gig-s-vp" >
      <div class="fixed-menu">
        <ul class="fixed-menu-ul">
          <li id="packages-i" class="f-menu-opt selected">Packages</li>
          <li id="extras-i" class="f-menu-opt">Extras</li>
          <li id="about-i" class="f-menu-opt">About</li>
          <li id="questions-i" class="f-menu-opt">Questions</li>
          <li id="support-i" class="f-menu-opt">Support team</li>
          <li id="reviews-i" class="f-menu-opt">Reviews</li>
          <li class="dets-li">
            <div class="order-service-div">
              <h4 class="order-h-four">
               gig
              </h4>
              
                <h5 class="order-from-cost">Total A$<span id="select-cost">20</span></h5>
                <button id="order-service-btn" class="f-menu-opt" (click)="order_service()">ORDER SERVICE</button>
                 
            </div>
          </li>
        </ul>
      </div>
      <div class="width-desktop w-control">
        <div class="total-err-div">
          <div class="total-err-main">
            You cannot buy your own gig !
          </div>
        </div>
        <div class="packages-div">
          <h3 class="h">PACKAGES</h3>
          <table class="packages-table">
            <tr>
              <td class="left-t-header" rowspan="2"></td>
              <td>
                <div class="t-left-align"><span class="package-cost">$10<span id="std-p"></span></span><br><span class="package-name">Standard</span></div>
              </td>
              <td>
                <div class="t-left-align"><span class="package-cost">$10<span id="pre-p"></span></span><br><span class="package-name">Premium</span></div>
              </td>
              <td>
                <div class="t-left-align"><span class="package-cost">$10<span id="pro-p"></span></span><br><span class="package-name">Pro</span></div>
              </td>
            </tr>
            <tr>
              <td><span class="package-details">pac_det_sta</span></td>
              <td><span class="package-details">pac_det_pre</span></td>
              <td><span class="package-details">pac_det_pro</span></td>
            </tr>
            <tr>
              <td class="left-t-header">
                <div class="l-t-header">Seperate Files</div>
              </td>
               <td>
                 <span>
                   <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                  </span>
                  <span>
                      -
                  </span>
              </td>
              <td>
                <span>
                  <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                </span>
                <span>
                  -
                </span>
              </td>
              <td>
                  <span>
                      <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                    </span>
                    <span>
                      -
                    </span>
              </td>
            </tr>
            <tr>
              <td class="left-t-header">
                <div class="l-t-header">HQ Files</div>
              </td>
              <td>
                  <span>
                      <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                     </span>
                     <span>
                         -
                     </span>
              </td>
              <td>
                  <span>
                      <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                     </span>
                     <span>
                         -
                     </span>
              </td>
              <td>
                  <span>
                      <i class='fa fa-check' aria-hidden='true' style='color:#00b22d;'></i>
                     </span>
                     <span>
                         -
                     </span>
              </td>
            </tr>
            <tr>
              <td class="left-t-header">
                <div class="l-t-header">Word Included</div>
              </td>
              <td>
                words_sta
              </td>
              <td>
                words_pre
              </td>
              <td>
                words_pro
              </td>
            </tr>
            <tr>
              <td class="left-t-header">
                <div class="l-t-header">Revisions</div>
              </td>
              <td>
                rev_sta
              </td>
              <td>
                  rev_pre
              </td>
              <td>
                  rev_pro
              </td>
            </tr>
            <tr>
              <td class="left-t-header">
                <div class="l-t-header">Delivery Time</div>
              </td>
              <td>
                pac_del_sta
              </td>
              <td>
                  pac_del_pre
              </td>
              <td>
                  pac_del_pro
              </td>
            </tr>
            <tr>
              <td class="left-t-header"></td>
              <td>
                <button class="package-select-btns pack-selected" id="standard-select-btn" (click)="selected_package('standard')">Selected <i class='fa fa-check' aria-hidden='true'></i></button>
              </td>
              <td>
                <button class="package-select-btns" id="premium-select-btn" (click)="selected_package('premium')">Select</button>
                <td>
                  <button class="package-select-btns" id="pro-select-btn" (click)="selected_package('pro')">Select</button>
                </td>
            </tr>
          </table>
        </div>
        <div class="extras-div">
          <h3 class="h">CHECKOUT MY GIG EXTRAS</h3>
            <div *ngFor="let extras of ext">
            <div class="extras-container">
                <div class="extra">
                  <input type="text" style="display:none" value="" class="exid">
                  <input type="text" style="display:none" value="" class="ext-p">
                  <div class="extra-desc">
                    <h4>gig</h4>
                    <h6>in3days</h6>
                  </div>
                  <div class="add-btn-div">
                    <button class="add-btn" id="add-button-add" (click)="addToCheckout(extras._id,$event)">             
                    <div class="btncr">
                      
                      + $20             
                    </div>
            </button>
                  </div>
                </div>
              </div>
            </div>
               
           
          </div>
            <div class="about-gig-div">
              <h3 class="h">ABOUT THIS GIG</h3>
              <div class="about-gig">
                 {{description}}
              </div>
            </div>
            <div class="get-answers-div">
              <h3 class="h">FAQS</h3>
              <p id="get-ans-exp">We love questions almost as much as we love providing answers. here are a few samples of what we're typically
                asked, along with our responses.</p>
                <button class="acc_btn"><span class="tg-btn-q">faq</span><span class="tg-btn-ico"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></button>
                <div class="panel">
                  <p>
                  </p>
                </div>
            </div>
            <div id="rating-show">
            <div id ="raty" style="left:-14%;transform:translate(-14%,0);"></div>
            <textarea type="text"  class="form-control" style="width:50vw;left:50%;transform:translate(53%,0)"></textarea>
            <button (click)="submit_review()" class="btn btn-primary" style="left:750%;top:-120%;transform:translate(750%,-120%);overflow:auto">POST</button>
          </div>                                        
              <div class="support-team">
                <div class="sup-sup">
                  <h3 class="h">MEET THE TEAM</h3>
                  <div class="s-div">
                    <a href="">
                      <div class="support-person">
                        <div class="support-team-img">
                          <img src="http://localhost:3000{{pro_pic}}" alt="profile_picture" style="width:120px">
                        </div>
                        <h6 class="name">
                          {{first_name}}{{last_name}}
                        </h6>
                        <hr class="half-hr">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="reviews-div">
                <h3 class="h">REVIEWS</h3>
                <div id="main-reviews-table">
                  <div class="rev-top-div">
                    <div id="main-rating-div">
                        <table>
                          <tr style="height:20px;">
                            <td><span>Average  Rating</span></td>
                          </tr>
                          <tr>
                            <td><span class="rating" style="text-align:center">{{f_avg_rating}}</span></td>
                          </tr>
                          <tr>
                            <td id="n-ratings-td">
                                <div id="raty-dis"></div>
                            </td>
                          </tr>
                        </table>
                    </div>
                    <div class="exp-ratings-div">
              
                        <table id="exp-rating-table">
                          <tr>
                            <td class="s-w-td">5 Stars</td>
                            <td>
                              <div class="total-percent">
                                <div class="fill-percent" id="five-star" [style.width]="five_rat"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="s-w-td">4 Stars</td>
                            <td>
                              <div class="total-percent">
                                <div class="fill-percent" id="four-star" [style.width]="four_rat"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="s-w-td">3 Stars</td>
                            <td>
                              <div class="total-percent">
                                <div class="fill-percent" id="three-star" [style.width]="three_rat"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="s-w-td">2 Stars</td>
                            <td>
                              <div class="total-percent">
                                <div class="fill-percent" id="two-star" [style.width]="two_rat"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="s-w-td">1 Stars</td>
                            <td>
                              <div class="total-percent">
                                <div class="fill-percent" id="one-star" [style.width]="one_rat"></div>
                              </div>
                            </td>
                          </tr>
                        </table>
                    </div>
                  </div>
                  <div >


                    <div class="rev-div">
                      <table class="u-details">
                        <tr>
                          <td colspan="2"><img src="http://localhost:3000{{rev.pro_pic.replace('public','')}}" class="reviewer-pic">
                            <div class="u-dets"><span class="u-name">{{rev.buyer_fname}}{{rev.buyer_lname}}</span><br><span class="posted-time">posted {{rev.date}}</span></div>
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align:left">
                            {{rev.score}}                            
                          </td>
                        </tr>
                        
                        <tr>
                          <td>
                            <div class="u-review">
                             {{rev.review}}
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
      </div>
    </div> -->