<app-header></app-header>
<app-header1></app-header1>

<div class="m-core">
  
    <div class="manage-orders-core">
      
        <div id="thanks-div">
          <h3>Thank you for ordering</h3>
          <h5>Your orders are now available to you below</h5>
          <i id="t-close" class="fa fa-times" aria-hidden="true"></i>
        </div>
          <h2 id="orders-title">MY ORDERS</h2>
          
          <div class="my-gigs-index">
            <button class="index-head">
    Orders
  </button>
            <button class="index-item" id="completed-btn" 
            (click)="get_orders('completed')">
    Completed
  </button>
            <button class="index-item" id="progress-btn" (click)="get_orders('inprogress')">
    In Progress
  </button>
            <button class="index-item" id="cancelled-btn" (click)="get_orders('cancelled')">
    Cancelled
  </button>
            <button class="index-item selected-index" id="all-btn" (click)="get_orders('all')">
    All
  </button>
          </div>










          <div class="orders-div manage-gig-container">




              <div class="order-div manage-gigs-row">
                <div class="gig">
                  <div class="order-img"></div>
                  <div class="text">
                  <h3>Management with Trello...</h3>
                  <div class="order-display">
                    <p>Seller:harrybest &nbsp;|&nbsp;</p>
                    <p>November 11, 2015 &nbsp;|&nbsp;</p>
                    <p>Total:$46</p>
                    </div>
                  </div><br><br>

                  <div class="progress1">
                      <p>started</p>
                      <p>in progress</p>
                      <p>delivered</p>
                       </div>

                       <div class="progress progress2">
                          <div class="progress-bar" role="progressbar" aria-valuenow="10"
                          aria-valuemin="0" aria-valuemax="100" style="width:30%;background-color:green;">
                            
                          </div>
                        </div><br>
                </div>
              </div>
          </div>

          



    </div>
</div>
  