<header  style="background:transparent" class="main-header1 visible-md visible-lg">
    <div class="header-control w-control">
      <a routerLink='/home'>
        <img src="../assets/../assets/images/m_logo.png" alt="" class="logo-img">
      </a>
      <ul class="horizantal-ul left-float-ul list-unstyled">
        <!-- <li class="dropdown mega-dropdown">
          
            <button style="color:white" class="dropbtn" id="main-cat-btn"><i class="fa fa-bars" aria-hidden="true"></i> &nbsp; &nbsp;CATEGORIES </button>
            <ul class="dropdown-content mega-dropdown-menu">
           
                <li id="cat-li">categories
                  <ul id="cat1-li">
                    <li>dsfsfsd</li>
                  </ul>

                </li>
              
            
            </ul>
          
        </li> -->

        <li class="dropdown mega-dropdown"> 

 <button style="color:white" class="dropbtn" id="main-cat-btn"><i class="fa fa-bars" aria-hidden="true"></i> &nbsp; &nbsp;CATEGORIES </button>

<ul class="dropdown-content mega-dropdown-menu">
  <li   id="cat-li">
    <h6>Browse all products</h6>
    <ul id="cat-li1">
<li>categories1</li><br>
<li>categories1</li><br>
<li>categories1</li><br>
<li>categories1</li><br>
<li>categories1</li><br>
<li>categories1</li><br>
<li>categories1</li><br>
<li>categories1</li>
    </ul>
  </li><br>

  <li  id="cat-li">
      <h6>Browse all products</h6>
      <ul id="cat-li1">
  <li>categories1</li><br>
  <li>categories1</li><br>
  <li>categories1</li><br>
  <li>categories1</li><br>
  <li>categories1</li><br>
  <li>categories1</li><br>
  <li>categories1</li><br>
  <li>categories1</li>
      </ul>
    </li>
</ul>

        </li>
        <li routerLink='/how-it-works'>
          <input style="color:white" type="button" class="main-nav-btns" id="how-it-works-btn" value="HOW IT WORKS">
        </li>
        <li routerLink='/become-an-author'>
          <input style="color:white" type="button" class="main-nav-btns" id="become-an-author-btn" value="BECOME AN AUTHOR" (click)="showBackSignUp(true)">
        </li>
      </ul>
      <ul class="horizantal-ul right-float-ul list-unstyled">
        <li>
          <input style="color:white" type="button" class="main-nav-btns" id="main-register-btn" (click)="app.showBackSignUp(true)" value="REGISTER">
        </li>
        <li id="sign-in-li">
          <input style="color:white" type="button" class="main-nav-btns" id="sign-in-btn" (click)="app.showBackLogin(true)" value="SIGN IN">
        </li>
      </ul>
    </div>
  </header>