<app-header></app-header>
<app-header1></app-header1><br>

<div class="m-core">
    <div class="w-control">
      <div class="container">
        <div style="width:90%" class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
              <h2 id="orders-title">Your Notifications</h2>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
              <button class="btn btn-success btn-sm">Mark all as read</button>
          </div>
        </div><br>

        <div style="height:10vh;width:90%" class="row border">
          <div  class="col-lg-2 col-md-2 col-xs-12 padding">
              <p style="white-space:normal;color:#999;font-size:80%;">2 hours ago</p>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12 padding">
              <div class="not-img">
                <img src="../../assets/images/gig.png" class="img-circle img-fluid" style="border-radius:35px;width:35px;height:35px">
                <span>Megan v added you to their favourites</span>
                </div>
            </div>
              
           <div class="col-lg-6 col-md-6 col-xs-12 padding">   
          <i  style="color:#00DBB2;float:right;left:50%;transform:translate(250%,0)" class="fa fa-heart-o"></i>
            
          </div>

          <i style="color:#999;left:50%;transform:translate(450%,0)" class="fa fa-times"></i>

        </div>
      </div>
    </div>
  </div>