.profile{
    align-items:center;
    justify-content:center;
    text-align:center;
    padding: 10px;
    top:10%;
    transform:translate(0,10%);
    color: white;
}
.profile h2{
    font-size: 130%;
}
.profile-about{
    background-color:#F2F4F6;
    width:100%;
    border-radius:3px;
    padding:10px;
    left:10%;
    transform:translate(5%,0)
}
.profile-about i{
    font-size: 25px;
}
.profile-about span{
    font-size: 100%;
    font-weight: 400;
}
.pswd-text{
    border-bottom: 0.5px solid #ddd;
    height: 15vh;
   
}
.pswd-text2{
    left: 10%;
    top: 50%;
    transform: translate(10%,80%)
}
.pswd-text2 h2{
    font-weight: bolder;
    font-size: 210%
}
.pswd-text1{
    left: 10%;
    transform: translate(10%,0);

}
.pswd-text1 h3{
    font-size: 120%;
}
.pswd-text1 label{
    font-size: 100%;
    font-weight: 800;
    color: rgb(41, 40, 40)
}
.pswd-text1 .form-control{
    width: 40%
}
.btn-primary{
    background-color: #058DD4;
    border-color: transparent;
    height: 5vh;
    border-radius: 3px;
    font-size: 100%;
    font-weight: 450
}