<app-header></app-header>
<body style="background-color:#F7F7F7">
<div class="c-gig-bck w-control">
    <form action="" method="post" id="form" enctype="multipart/form-data">
      <!-- c-gig-one -->
      <div  class="c-gig-divs" id="c-gig-one">
        <div class="helpers" id="cat-helper">
          <h2>Category</h2>
          <h5>Declare the category of your gig.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="helpers" id="title-helper">
          <h2>Title</h2>
          <h5>This is your gig title. Choose wisely, you can only use 80 characters.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="helpers" id="desc-helper">
          <h2>Description</h2>
          <h5>This is your gig Description.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="helpers" id="skills-helper">
          <h2>Skills</h2>
          <h5>This is your gig Description.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="c-gig-title">
            <table>
              <tr>
                <td>
                  <span class="div-nav-btns one-nav-btn" (click)="gotoNexttab('first')">One <span ><i class="fa fa-check-circle one-check"></i></span> </span>
                </td>
                <td>
                  <span class="div-nav-btns two-nav-btn" (click)="gotoNexttab('second')">Two <span ><i class="fa fa-check-circle two-check"></i></span></span>
                </td>
                <td>
                  <span class="div-nav-btns three-nav-btn" (click)="gotoNexttab('third')">Three <span ><i class="fa fa-check-circle three-check"></i></span></span>
                </td>
                <td>
                  <span class="div-nav-btns four-nav-btn" (click)="gotoNexttab('fourth')">Four <span ><i class="fa fa-check-circle four-check"></i></span></span>
                </td>
                <td>
                  <i class="fa fa-times trl"></i>
                </td>
              </tr>
            </table>
          </div>
        <div class="main-c-gig">

          
          <table>
            <tr style="float:left">
              <td class="td-align-right">
                <h4 style="font-size:100%">Category</h4>
              </td>
              <td >
                <select class="c-gig-inputs1" id="c-gig-cat" name="category" >
                  <option disabled="true">Choose your Category</option>
                  <option value="rc">Resumes and cover letters</option>
                  <option value="or">Online Resumes</option>
                  <option value="vr">Visual Resumes</option>
                  <option value="lp">LinkedIn Profile</option>
                  <option value="ph1">Place Holder 1</option>
                  <option value="ph2">Place Holder 2</option>
                </select>
              </td>
              <td>
                  <select class="c-gig-inputs1" id="c-gig-cat" name="category" >
                    <option disabled="true">None</option>
                    <option value="rc">Resumes and cover letters</option>
                    <option value="or">Online Resumes</option>
                    <option value="vr">Visual Resumes</option>
                    <option value="lp">LinkedIn Profile</option>
                    <option value="ph1">Place Holder 1</option>
                    <option value="ph2">Place Holder 2</option>
                  </select>
                </td>
            </tr>
            <tr style="float:left">
              <td class="td-align-right">
                <h4>Title</h4>
              </td>
              <td style="left:20%;transform:translate(7%,0)">
                <input type="text" id="title" name="title" class="c-gig-inputs" maxlength="80" value="" >
              </td>
            </tr>
            <tr style="float:left">
              <td class="td-align-right">
                <h4>Description</h4>
              </td>
              <td>
                <textarea class="c-gig-inputs" id="c-gig-desc" name="description" ></textarea>
              </td>
            </tr>
            <tr style="float:left">
              <td class="v-center td-align-right">
                <h4>Skill Required</h4>
              </td>
              <td class="no-padding">
                <table id="skills-req-table">
                  <tr>
                    <td>
                      <label for="email">
                        <div class="c-gig-skills">
                          <span class="f-l">
                            <h4>Email/Username Login</h4>
                            <h5>Login with an email or username</h5>
                          </span>
                          <span>
                            <input type="checkbox" id="email" name="skill_check[]" value="email" (change)="handleChange($event)" [checked]="email">
                          </span>
                        </div>
                      </label>
                    </td>
                    <td>
                      <label for="profiles">
                        <div class="c-gig-skills">
                          <span class="f-l">
                            <h4>Profiles</h4>
                            <h5>Customers can enter info about themselves</h5>
                          </span>
                          <span>
                            <input type="checkbox" id="profiles" name="skill_check[]" value="profiles" (change)="handleChange($event)" [checked]="profiles">
                          </span>
                        </div>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="sharing-functions">
                        <div class="c-gig-skills">
                          <span class="f-l">
                            <h4>Sharing Functions</h4>
                            <h5>Share on Twitter, Facebook, Email</h5>
                          </span>
                          <span>
                            <input type="checkbox" id="sharing-functions" name="skill_check[]" value="sharing" (change)="handleChange($event)" [checked]="sharing">
                          </span>
                        </div>
                      </label>
                    </td>
                    <td>
                      <label for="social-login">
                        <div class="c-gig-skills">
                          <span class="f-l">
                            <h4>Social Login</h4>
                            <h5>Login w/ Twitter, Facebook, etc</h5>
                          </span>
                          <span>
                            <input type="checkbox" id="social-login" name="skill_check[]" value="social_login" (change)="handleChange($event)" [checked]="social_login">
                          </span>
                        </div>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="ratings">
                        <div class="c-gig-skills">
                          <span class="f-l">
                            <h4>Ratings/Reviews</h4>
                            <h5>People leave ratings</h5>
                          </span>
                          <span>
                            <input type="checkbox" id="ratings" name="skill_check[]" value="rating" (change)="handleChange($event)" [checked]="rating">
                          </span>
                        </div>
                      </label>
                    </td>
                    <td>
                      <label for="mobile-opt">
                        <div class="c-gig-skills">
                          <span class="f-l">
                            <h4>Mobile Optimized</h4>
                            <h5>Designed to look good on mobile devices</h5>
                          </span>
                          <span>
                            <input type="checkbox" id="mobile-opt" name="skill_check[]" value="mobile" (change)="handleChange($event)" [checked]="mobile">
                          </span>
                        </div>
                      </label>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <div class="g-err" id="g-one-all-err"></div>
        <div class="nav-dots">
          <div id="f-n-btn" class="con-btns" (click)="gotoNexttab('second')">CONTINUE</div>
        </div>
      </div>
      <!--c-gig-two-->
      <div style="display:none" class="c-gig-divs" id="c-gig-two">
        <div class="two-helpers" id="package-cost-helper">
          <h2>Package cost</h2>
          <h5>Define cost per each package.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="two-helpers" id="package-desc-helper">
          <h2>Package description</h2>
          <h5>Provide description per each package.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="two-helpers" id="package-delivery-helper">
          <h2>Delivery</h2>
          <h5>Provide delivery time for each package.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="two-helpers" id="package-revision-helper">
          <h2>Revision</h2>
          <h5>Define revisions each package.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="two-helpers" id="package-words-helper">
          <h2>Words</h2>
          <h5>Words for each package.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="two-helpers" id="package-seperate-files-helper">
          <h2>Seperate Files</h2>
          <h5>Are seperate files available for each package.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="two-helpers" id="package-hq-files-helper">
          <h2>Hq files</h2>
          <h5>Are HQ files available for each package.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="c-gig-title">
            <table>
              <tr>
                <td>
                  <span class="div-nav-btns one-nav-btn">One <span ><i class="fa fa-check-circle one-check"></i></span> </span>
                </td>
                <td>
                  <span class="div-nav-btns two-nav-btn">Two <span ><i class="fa fa-check-circle two-check"></i></span></span>
                </td>
                <td>
                  <span class="div-nav-btns three-nav-btn">Three <span ><i class="fa fa-check-circle three-check"></i></span></span>
                </td>
                <td>
                  <span class="div-nav-btns four-nav-btn">Four <span ><i class="fa fa-check-circle four-check"></i></span></span>
                </td>
                <td>
                  <i class="fa fa-times trl"></i>
                </td>
              </tr>
            </table>
          </div>
        <div class="packages">
          <div class="packages-div">
            <table class="packages-table table-responsive table1">
              <tr>
                <td class="left-t-header" rowspan="4"></td>
                <td class="left-t-header"><span class="package-name"><h3>STANDARD</h3></span></td>
                <td class="left-t-header"><span class="package-name"><h3>PREMIUM <i style="color:green" class="fa fa-toggle-on"></i></h3></span></td>
                <td class="left-t-header"><span class="package-name"><h3>PRO<i  class="fa fa-toggle-off"></i></h3></span></td>
              </tr>
              <tr id="package-cost-tr">
                <td><input type="number" class="price-select" id="standard-price" name="standard-price" placeholder="Cost of Your Package" ></td>

               <td><input type="number" class="price-select" id="premium-price" name="premium-price" placeholder="Cost of Your Package" ></td>

                <td><input type="number" class="price-select" id="pro-price" name="pro-price" placeholder="Cost of Your Package" ></td>

              </tr>
             <tr id="package-details-tr">
                <td><textarea class="package-details" id="std-details" name="std-details" placeholder="Describe the details of your offering" ></textarea></td>
                <td><textarea class="package-details" id="pre-details" name="pre-details" placeholder="Describe the details of your offering" ></textarea></td>
                <td><textarea class="package-details" id="pro-details" name="pro-details" placeholder="Describe the details of your offering" ></textarea></td>
              </tr>
              <tr id="package-delivery-tr">
                <td><select class="delivery-select" id="standard-delivery" name="standard-delivery" ><option value="2">2 Days Delivery</option><option value="4">4 Days Delivery</option><option value="6">6 Days Delivery</option><option value="8">8 Days Delivery</option><option value="10">10 Days Delivery</option></select></td>
                <td><select class="delivery-select" id="premium-delivery" name="premium-delivery" ><option selected="true" value="2">2</option><option value="4">4 Days Delivery</option><option value="6">6 Days Delivery</option><option value="8">8 Days Delivery</option><option value="10">10 Days Delivery</option></select></td>
                <td><select class="delivery-select" id="pro-delivery" name="pro-delivery" ><option selected="true" value="2">2</option><option value="4">4 Days Delivery</option><option value="6">6 Days Delivery</option><option value="8">8 Days Delivery</option><option value="10">10 Days Delivery</option></select></td>
              </tr>
              <tr id="package-revisions-tr">
                <td class="left-t-header no-top-border">
                  <div class="l-t-header">Revisions</div>
                </td>
                <td><select class="revisions" id="s-revisions" name="std-revisions" >
                  <option selected="true" value="select" disabled>Select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select></td>
                <td><select class="revisions" id="pre-revisions" name="pre-revisions" ><option selected="true" value="select" disabled>Select</option><option value="Yes">Yes</option>
            <option value="No">No</option></select></td>
                <td><select class="revisions" id="pro-revisions" name="pro-revisions" ><option selected="true" value="select" disabled>Select</option><option value="Yes">Yes</option>
            <option value="No">No</option></select></td>
              </tr>
              <tr id="package-words-tr">
                <td class="left-t-header">
                  <div class="l-t-header">Words Included</div>
                </td>
                <td><select class="words-included" id="std-words" name="std-words" ><option value="words" disabled>Words</option><option value="Yes">Yes</option>
            <option value="No">No</option></select></td>
                <td><select class="words-included" id="pre-words" name="pre-words" ><option value="words" disabled>Words</option><option value="Yes">Yes</option>
            <option value="No">No</option></select></td>
                <td><select class="words-included" id="pro-words" name="pro-words" ><option value="words" disabled>Words</option><option value="Yes">Yes</option>
            <option value="No">No</option></select></td>
              </tr>
              <tr id="package-seperate-files-tr">
                <td class="left-t-header">
                  <div class="l-t-header">Seperate Files</div>
                </td>
                <td><input type="checkbox" class="sep-files-check" id="standard-sep-check" name="std-sep-check" >
                  <label
                    for="standard-sep-check"><span></span></label>
                </td>
                <td><input type="checkbox" class="sep-files-check" id="premium-sep-check" name="pre-sep-check" ><label for="premium-sep-check"><span></span></label></td>
                <td><input type="checkbox" class="sep-files-check" id="pro-sep-check" name="pro-sep-check" ><label for="pro-sep-check"><span></span></label></td>
              </tr>
              <tr id="package-hq-files-tr">
                <td class="left-t-header">
                  <div class="l-t-header">HQ Files</div>
                </td>
                <td><input type="checkbox" class="hq-files-check" id="std-hq-check" name="std-hq-check"><label for="std-hq-check"><span></span></label></td>
                <td><input type="checkbox" class="hq-files-check" id="pre-hq-check" name="pre-hq-check" ><label for="pre-hq-check"><span></span></label></td>
                <td><input type="checkbox" class="hq-files-check" id="pro-hq-check" name="pro-hq-check" ><label for="pro-hq-check"><span></span></label></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- <div id="nan-prices-er" class="g-err">Prices must be a declared in numbers.</div>
        <div id="st-price-er" class="g-err">Standard Package's price is required.</div>
        <div id="pre-price-er" class="g-err">Premium Package's price is required.</div>
        <div id="pro-price-er" class="g-err">Pro Package's price is required.</div>
        <div id="st-name-er" class="g-err">Standard Package's name is required.</div>
        <div id="pre-name-er" class="g-err">Premium Package's name is required.</div>
        <div id="pro-name-er" class="g-err">Pro Package's name is required.</div>
        <div id="st-desc-er" class="g-err">Standard Package's description is required.</div>
        <div id="pre-desc-er" class="g-err">Premium Package's description is required.</div>
        <div id="pro-desc-er" class="g-err">Pro Package's description is required.</div>
        <div id="st-del-er" class="g-err">Standard Package's delivery time is required.</div>
        <div id="pre-del-er" class="g-err">Premium Package's delivery time is required.</div>
        <div id="pro-del-er" class="g-err">Pro Package's delivery time is required.</div>
        <div id="st-rev-er" class="g-err">Standard Package's revisions field is empty.</div>
        <div id="pre-rev-er" class="g-err">Premium Package's revisions field is empty.</div>
        <div id="pro-rev-er" class="g-err">Pro Package's revisions field is empty.</div>
        <div id="st-words-er" class="g-err">Standard Package's words field is empty.</div>
        <div id="pre-words-er" class="g-err">Premium Package's words field is empty.</div>
        <div id="pro-words-er" class="g-err">Pro Package's words field is empty.</div> -->
        <div id="g-2-all-err" class="g-err"></div>
        <div class="nav-dots">
          <div id="s-n-btn" class="con-btns" (click)="gotoNexttab('third')">CONTINUE</div>
        </div>
      </div>
      <!-- c-gig-three-->
      <div style="display:none" class="c-gig-divs" id="c-gig-three">
        <div class="three-helpers" id="extra-helper">
          <h2>Extras</h2>
          <h5>Extras that you provide with each package with delivery time and cost.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="c-gig-title">
            <table>
              <tr>
                <td>
                  <span class="div-nav-btns one-nav-btn">One <span ><i class="fa fa-check-circle one-check"></i></span> </span>
                </td>
                <td>
                  <span class="div-nav-btns two-nav-btn">Two <span ><i class="fa fa-check-circle two-check"></i></span></span>
                </td>
                <td>
                  <span class="div-nav-btns three-nav-btn">Three <span ><i class="fa fa-check-circle three-check"></i></span></span>
                </td>
                <td>
                  <span class="div-nav-btns four-nav-btn">Four <span ><i class="fa fa-check-circle four-check"></i></span></span>
                </td>
                <td>
                  <i class="fa fa-times trl"></i>
                </td>
              </tr>
            </table>
          </div>
        <h3 id="oh">Offer extras to Employers(optional)</h3>
        <div id="ex-core">
          <div class="ex-offer">
            <table class="ex-offer-table">
              <tr class="full-tr">
                <td class="offer-rest">
                  <label class="left-center"><input type="checkbox" id="ex-offer-1" name="fast-delivery" ><span class="fast-del">FAST DELIVERY</span> I will deliver all work for an extra</label>
                </td>
                <td class="offer-sm">
                  <div class="ext-cost center"><span id="dlr">$</span><input type="text" class="cost-input" name="fast-del-cost" ></div>
                </td>
                <td class="offer-xsm">
                  <span class="center">in</span>
                </td>
                <td class="offer-mm">
                  <div class="ext-cost days center">
                    <input type="text" class="days-input" name="fast-del-days" >
                    <span id="days">days(s)</span>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="ex-offer">
            <table class="ex-offer-table">
              <tr class="full-tr">
                <td class="offer-rest">
                  <span class=""><a class="cls-btn"><i class="fa fa-times"></i></a></span>
                  <input type="text" class="ex-offer-txt" name="ex-offer[]" >
                </td>
                <td class="offer-sm">
                  <div class="ext-cost center"><span id="dlr">$</span><input type="text" class="cost-input" name="ex-cost[]" ></div>
                </td>
                <td class="offer-xsm">
                  <span class="center">in</span>
                </td>
                <td class="offer-mm">
                  <div class="ext-cost days center"><input type="text" class="days-input" name="ex-days[]" ><span id="days" >days(s)</span></div>
                </td>
              </tr>
            </table>
            <!-- <div #parentExtra></div> -->
          </div>                
          <div id="add-more-extras-btn-div">
          <button id="add-more-extras-btn" (click)="addExtras()">
              ADD ANOTHER EXTRA
          </button>  
          </div>                
        </div>
        <div class="other-details">
          <h3>Frequently Asked Questions</h3>
          <h4 id="ad-faq-btn"  (click)="addFaq()"><i class="fa fa-plus"></i> &nbsp; Add an FAQ</h4>
          <div class="faq-core">
            <div class="faq">
              <h4 class="faq-head">Question</h4>
              <input type="text" class="faq_question" name="faq_question[]" id="first-faq" value="" >
              <h4 class="faq-head">Answer</h4>
              <textarea name="faq_answer[]" class="faq_ans" value="" ></textarea>
            </div> 
            
            <div style="display:flex">
              <button style="width:13%" class="btn btn-default btn-sm">CANCEL</button>&nbsp;&nbsp;
              <button style="width:13%" class="btn btn-success btn-sm">ADD</button>
            </div>
            <!-- <div #parents></div> -->
          </div>
        </div>  
        <div id="g-3-all-err" class="g-err"></div>      
        <div class="nav-dots">
          <div id="t-n-btn" class="con-btns" (click)="gotoNexttab('fourth')">CONTINUE</div>
        </div>
      </div>
      <!-- c-gig-four-->
      <div style="display:none" class="c-gig-divs" id="c-gig-four">
        <div class="four-helpers" id="img-helper">
          <h2>Gig Images</h2>
          <h5>Make sure you upload no more than 3 images. Extra images will just be ignored.</h5>
          <img src="img/g-dir.png">
        </div>
        <div class="c-gig-title">
            <table>
              <tr>
                <td>
                  <span class="div-nav-btns one-nav-btn">One <span ><i class="fa fa-check-circle one-check"></i></span> </span>
                </td>
                <td>
                  <span class="div-nav-btns two-nav-btn">Two <span ><i class="fa fa-check-circle two-check"></i></span></span>
                </td>
                <td>
                  <span class="div-nav-btns three-nav-btn">Three <span ><i class="fa fa-check-circle three-check"></i></span></span>
                </td>
                <td>
                  <span class="div-nav-btns four-nav-btn">Four <span ><i class="fa fa-check-circle four-check"></i></span></span>
                </td>
                <td>
                  <i class="fa fa-times trl"></i>
                </td>
              </tr>
            </table>
          </div>
        <div class="portfolio-pics-div">
          <h4>Portfolio Photos</h4>
          <h5>Upload photos that describe or relate to your Gig.</h5>
          <input type="file" name="disp_img" id="file" class="files" style="display:none" (change)="fileChange1($event)" accept="image/*" multiple>
          <input type="file" name="sec_img" id="filetwo" class="files" style="display:none" (change)="fileChange2($event)" accept="image/*">
          <input type="file" name="third_img" id="filethree" class="files" style="display:none"  (change)="fileChange3($event)" accept="image/*">
          <span class="pick-one-head" style="color:#666;font-size:120%; display:none">Select one image frome the following as your gig's main image.</span>
          <hr id="pic-hr">

          <div style="overflow:hidden" class="row">
            <div style="left:2%" class="col-lg-12 col-md-12 col-xs-12">
              <div class="row">
                <div  class="col-lg-3 col-md-3 col-xs-12">
                 <div style="border:0.5px solid #999;text-align:center;height:25vh" class="img-div">
                    <i class="fa fa-camera" aria-hidden="true" style="color:#E9E9E9;font-size:400%"></i> <br><br>
                    <div style="width:60%">
                        <p>Add a Photo</p>
                    </div>
                 </div>  
                        
                  
                </div>

                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div style="border:0.5px solid #999;text-align:center;height:25vh" class="img-div">
                       <i class="fa fa-picture-o" aria-hidden="true" style="color:#E9E9E9;font-size:400%"></i> <br><br>
                       <div style="width:60%">
                           <p>Add a Photo</p>
                       </div>
                    </div>  
                           
                     
                   </div>

                   <div class="col-lg-3 col-md-3 col-xs-12">
                      <div style="border:0.5px solid #999;text-align:center;height:25vh" class="img-div">
                         <i class="fa fa-picture-o" aria-hidden="true" style="color:#E9E9E9;font-size:400%"></i> <br><br>
                         <div style="width:60%">
                             <p>Add a Photo</p>
                         </div>
                      </div>  
                             
                       
                     </div>
              </div><br>


              <div class="row">
                  <div  class="col-lg-3 col-md-3 col-xs-12">
                   <div style="border:0.5px solid #999;text-align:center;height:25vh" class="img-div">
                      <i class="fa fa-camera" aria-hidden="true" style="color:#E9E9E9;font-size:400%"></i> <br><br>
                      <div style="width:60%">
                          <p>Add a Photo</p>
                      </div>
                   </div>  
                          
                    
                  </div>
  
                  <div class="col-lg-3 col-md-3 col-xs-12">
                      <div style="border:0.5px solid #999;text-align:center;height:25vh" class="img-div">
                         <i class="fa fa-picture-o" aria-hidden="true" style="color:#E9E9E9;font-size:400%"></i> <br><br>
                         <div style="width:60%">
                             <p>Add a Photo</p>
                         </div>
                      </div>  
                             
                       
                     </div>
  
                     <div class="col-lg-3 col-md-3 col-xs-12">
                        <div style="border:0.5px solid #999;text-align:center;height:25vh" class="img-div">
                           <i class="fa fa-picture-o" aria-hidden="true" style="color:#E9E9E9;font-size:400%"></i> <br><br>
                           <div style="width:60%">
                               <p>Add a Photo</p>
                           </div>
                        </div>  
                               
                         
                       </div>

                       <div class="col-lg-3 col-md-3 col-xs-12">
                          <div id="g-4-all-err" class="g-err"></div>
                          <div style="top:50%;transform:translate(0,150%)" class="nav-dots">
                            <div id="fr-n-btn" class="con-btns" (click)="gotoNexttab('fifth')">CONTINUE</div>
                          </div>  
                       </div>
                </div>




            </div>
          </div>
          <!-- <div class="list">
            <div class="thumb-core" id="file_thumb">
              <label for="file" id="file_label">
                      <span class="file-ch-span">
                          <div style="text-align:center">
                              <i class="fa fa-picture-o" aria-hidden="true" style="color:#E9E9E9;font-size:400%"></i>
                              <br><br>
                              <div style="width:60%">
                                  Click here to upload <br> This will be your main display image
                              </div>
                          </div>
                      </span>
                  </label>
            </div>
            <div class="thumb-core" id="filetwo_thumb">
              <label for="filetwo" id="file_two_label">
                      <span class="file-ch-span">
                          <div style="text-align:center">
                              <i class="fa fa-picture-o" aria-hidden="true" style="color:#E9E9E9;font-size:400%"></i>
                              <br><br>
                              <div style="width:60%">
                                  Click here to upload 
                              </div>
                          </div>
                      </span>
                  </label>
            </div>
            <div class="thumb-core" id="filethree_thumb">
              <label for="filethree" id="file_three_label">
                      <span class="file-ch-span">
                          <div style="text-align:center">
                              <i class="fa fa-picture-o" aria-hidden="true" style="color:#E9E9E9;font-size:400%"></i>
                              <br><br>
                              <div style="width:60%">
                                  Click here to upload 
                              </div>
                          </div>
                      </span>
                  </label>
            </div>
          </div> -->
          <!-- <div class="g-err" id="img-req-err">Atleast one image is required</div>
          <div class="g-err" id="select-main-img-err">Please upload main image.</div> -->
        </div>
        <!-- <div id="g-4-all-err" class="g-err"></div>
        <div class="nav-dots">
          <div id="fr-n-btn" class="con-btns" (click)="gotoNexttab('fifth')">CONTINUE</div>
        </div> -->
      </div>
      <!-- c-gig-five-->
      <div style="display:none" class="c-gig-divs" id="c-gig-five">
        <div class="c-gig-title">
          <table>
            <tr>
              <td>
                <span class="div-nav-btns one-nav-btn">One <span *ngIf='tabOneCheck == true'><i class="fa fa-check-circle one-check"></i></span> </span>
              </td>
              <td>
                <span class="div-nav-btns two-nav-btn">Two <span *ngIf='tabTwoCheck == true'><i class="fa fa-check-circle two-check"></i></span></span>
              </td>
              <td>
                <span class="div-nav-btns three-nav-btn">Three <span *ngIf='tabThreeCheck == true'><i class="fa fa-check-circle three-check"></i></span></span>
              </td>
              <td>
                <span class="div-nav-btns four-nav-btn">Four <span *ngIf='tabFourCheck == true'><i class="fa fa-check-circle four-check"></i></span></span>
              </td>
              <td>
                <i class="fa fa-times trl"></i>
              </td>
            </tr>
          </table>
        </div>
        <div class="almost-there-core">
          <div class="almost-there-div">
            <h3>Almost there...</h3>
            <h4>Let's publish your Gig and get some buyers rolling in.</h4>
          </div>
          <p>* A 20% fee will be charged each time your service is purchased, calculated on total value for each order
            received. Review our <a href="">Fees and Charges page</a> for details.</p>
        </div>
        <div class="clear-both"></div>
        <div class="nav-dots">
          <input type="submit" value="ACTIVATE GIG" id="publish-gig-btn" class="con-btns" (click)="savegig()">
        </div>
      </div>

      <!-- c-gig-6 -->

      <div style="display:none" class="c-gig-divs" id="c-gig-five">
          <div class="c-gig-title">
            <table>
              <tr>
                <td>
                  <span class="div-nav-btns one-nav-btn">One <span *ngIf='tabOneCheck == true'><i class="fa fa-check-circle one-check"></i></span> </span>
                </td>
                <td>
                  <span class="div-nav-btns two-nav-btn">Two <span *ngIf='tabTwoCheck == true'><i class="fa fa-check-circle two-check"></i></span></span>
                </td>
                <td>
                  <span class="div-nav-btns three-nav-btn">Three <span *ngIf='tabThreeCheck == true'><i class="fa fa-check-circle three-check"></i></span></span>
                </td>
                <td>
                  <span class="div-nav-btns four-nav-btn">Four <span *ngIf='tabFourCheck == true'><i class="fa fa-check-circle four-check"></i></span></span>
                </td>
                <td>
                  <i class="fa fa-times trl"></i>
                </td>
              </tr>
            </table>
          </div><br><br>
        
          <div style="text-align:justify;line-height:0px;display:flex;left:20%;transform:translate(10%,0)">
                 
              <i style="font-size:180%;color:green" class="fa fa-book"></i>&nbsp;
              <div>
              <h3 style="font-size:120%;">Tell your buyer what you need to get started</h3><br>
              <p>structure your buyer instructions as free text</p>
            </div>
            </div>

          <div class="almost-there-core">
             
            <div style="background-color:#F7F7F7" class="almost-there-div1">
              <p style="text-align:left;float:left">REQUIREMENT #1</p><br>
              <div class="almost-there-div2"><br>
<p>I need a copy of your existing CV plus any new details you may have </p><br>
<p>I need a copy of your existing CV plus any new details you may have </p><br>
<p>I need a copy of your existing CV plus any new details you may have </p><br>
                </div>
<p style="font-size:70%;color:#999;float:right">0/450 characters</p><br>
            </div>
            
          </div>
          <div class="clear-both"></div>
          <div class="nav-dots">
            <input type="submit" value="CONTINUE" id="publish-gig-btn" class="con-btns" (click)="savegig()">
          </div>
        </div>



    </form>
</div>

</body>
