<body>



<div class="home-img">
    <app-header2></app-header2>
    
  <div class="home-text">
    <h1>A community of authors<br> ready for your gig</h1>
  <div class="input-group">
  
    <input type="text" class="form-control" placeholder="Search for a Course">
  
  <span class="input-group-addon">SEARCH</span>
  </div>
  </div>
</div>

<div class="w-control">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img src="../../assets/images/curl.png" width="100%" height="100%" style="left:50%;transform:translate(380%,0)">
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-xs-12" id="second-vp-head">
      <h1>Explore The Marketplace</h1>
      <h3>From logo to web hosting, We've got what you need to make you standout</h3>
    </div>
  </div><br><br>


  <div class="row" style="height:50vh">
    <div class="col-lg-4 col-md-4 col-xs-12"><br>

   <div class="row" style="height:50%">
     <div class="col-lg-6 col-md-6 col-xs-12 row-border1">
      <div class="explore-img">
        <p>Logo Design</p>
      </div> 
     </div>
  

   
      <div class="col-lg-6 col-md-6 col-xs-12 row-border1">
       <div class="explore-img1">
         <p>Brand guide</p>
       </div> 
      </div>
    </div>

    <div class="row" style="height:50%">
        <div class="col-lg-6 col-md-6 col-xs-12 row-border2">
         <div class="explore-img2">
           <p>Packaging Design</p>
         </div> 
        </div>
     
   
      
         <div class="col-lg-6 col-md-6 col-xs-12 row-border2">
          <div class="explore-img3">
            <p>Book cover Design</p>
          </div> 
         </div>
       </div>

    </div>

    <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="explore-img2">
             </div> 
             <div  class="img-text">
                <p>Logo & brand identity pack</p>
                <p><button class="btn btn-default">*Most popular</button></p>
                <p class="p1">Logo and essentials to establish your brand...</p>
              </div>
     </div>
     
     <div class="col-lg-4 col-md-4 col-xs-12"><br>

      <div class="row" style="height:50%">
        <div class="col-lg-6 col-md-6 col-xs-12 row-border3">
         <div class="explore-img3">
           <p>Brand guide</p>
         </div> 
        </div>
     
   
      
         <div class="col-lg-6 col-md-6 col-xs-12 row-border3">
          <div class="explore-img1">
            <p>T-Shirt Design</p>
          </div> 
         </div>
       </div>
   
       <div class="row" style="height:50%">
           <div class="col-lg-6 col-md-6 col-xs-12 row-border4">
            <div class="explore-img2">
              <p>Book cover Design</p>
            </div> 
           </div>
        
      
         
            <div class="col-lg-6 col-md-6 col-xs-12 row-border4">
             <div class="explore-img1">
               <p>Other</p>
             </div> 
            </div>
          </div>
   
       </div>
  </div><br><br><br><br><br>



<div class="row explore">
    <div class="col-xs-12">
        <button class="btn btn-primary">view more items</button>
      </div>
</div><br><br>

<div class="row">
    <div class="col-xs-12" id="third-vp-head">
      <h1>Multiple designers, incredible results</h1>
      
    </div>
  </div><br>

</div>
</div>

<!-- GIG -->

<div class="w-control">
<div class="container">

  <div class="row">
    <div class="col-lg-3 col-md-3 col-xs-12">
      <div class="gig">
        <div class="gig-img"></div>
        <div class="gig-text">
        <h1>Machine Learning A-Z:Hands-On Hands-On Python & R In...</h1>
          <h3>By Peter Moxon</h3>
    
          <div class="stars">*****</div>
          </div>
          <div class="price">
              <i class="fa fa-user"></i>&nbsp;
              <p>129 Completed</p>
              <p id="price-val">Starting  At <span>$27</span></p>
    
          </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-12">
        <div class="gig">
          <div class="gig-img"></div>
          <div class="gig-text">
          <h1>Machine Learning A-Z:Hands-On Hands-On Python & R In...</h1>
            <h3>By Peter Moxon</h3>
      
            <div class="stars">*****</div>
            </div>
            <div class="price">
                <i class="fa fa-user"></i>&nbsp;
                <p>129 Completed</p>
                <p id="price-val">Starting  At <span>$27</span></p>
      
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-xs-12">
          <div class="gig">
            <div class="gig-img"></div>
            <div class="gig-text">
            <h1>Machine Learning A-Z:Hands-On Hands-On Python & R In...</h1>
              <h3>By Peter Moxon</h3>
        
              <div class="stars">*****</div>
              </div>
              <div class="price">
                  <i class="fa fa-user"></i>&nbsp;
                  <p>129 Completed</p>
                  <p id="price-val">Starting  At <span>$27</span></p>
        
              </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="gig">
              <div class="gig-img"></div>
              <div class="gig-text">
              <h1>Machine Learning A-Z:Hands-On Hands-On Python & R In...</h1>
                <h3>By Peter Moxon</h3>
          
                <div class="stars">*****</div>
                </div>
                <div class="price">
                    <i class="fa fa-user"></i>&nbsp;
                    <p>129 Completed</p>
                    <p id="price-val">Starting  At <span>$27</span></p>
          
                </div>
            </div>
          </div>
  </div><br>

  <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-12">
          <div class="gig">
            <div class="gig-img"></div>
            <div class="gig-text">
            <h1>Machine Learning A-Z:Hands-On Hands-On Python & R In...</h1>
              <h3>By Peter Moxon</h3>
        
              <div class="stars">*****</div>
              </div>
              <div class="price">
                  <i class="fa fa-user"></i>&nbsp;
                  <p>129 Completed</p>
                  <p id="price-val">Starting  At <span>$27</span></p>
        
              </div>
          </div>
        </div>
  </div><br><br>


<!-- gig-hover -->

<div class="gig-details-container">
    <div class="gig-dets-top">
  <p>Published: 08/2016</p>
  <h3 style="color:#888">The Complete Digital Marketing Course - 12 Courses in 1</h3>

  <p style="color:#999">Master Digital Marketing & Grow Your Business: SEO, Facebook, YouTube, Social Media Marketing, Google Analytics & More!</p>
  <li style="color:#999">Grow your own business from scratch</li>
  <li style="color:#999">Make better decisions on how to market your business</li>
  <li style="color:#999">Upgrade your digital marketing skills for a new job or career change</li>
    </div>
    <div class="gig-dets-btm">
      <button class="dets-add-to-cart-btn">
        Add to cart
      </button>

      <button class="dets-add-fav-btn">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>




  <button class="btn btn-primary gig-btn">Show all (2000+)></button><br><br>

</div>
</div><br>


<div class="w-control">
<section class="careers"><br><br>

<div class="container">
    <div class="row">
        <div class="col-xs-12" id="second-vp-head">
          <h1>Helping people grow their careers. Everyday!</h1>
          
        </div>
      </div><br>

      <div class="row">

    <div class="col-lg-4 col-md-4 col-xs-12">
      <img src="../../assets/images/career1.png" width="auto" height="auto">
      <div class="careers-text">
          <h4>Learn from the experts</h4>
          <p>Industry thought-leaders to help your master new skills</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-12">
        <img src="../../assets/images/career2.png" width="auto" height="auto">
        <div class="careers-text">
            <h4>Guareented Career Frowth</h4>
          <p>Get a pay-raise, a promotion, or start a new career</p>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-xs-12">
          <img src="../../assets/images/career3.png" width="auto" height="auto">
          <div class="careers-text">
              <h4>Accredited Curriculum</h4>
          <p>Approved bt 40+ global  accrediting bodies</p>
            </div>
        </div>

      </div>
</div>

</section>
</div><br><br>



<!-- reviews -->

<div class="reviews">
  
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <ul class="radio">
              <li (click)="radio('1')"><i class="fa fa-circle" aria-hidden="true"></i></li>
              <li (click)="radio('2')"><i class="fa fa-circle" aria-hidden="true"></i></li>
              <li (click)="radio('3')"><i class="fa fa-circle" aria-hidden="true"></i></li>
              <li (click)="radio('4')"><i class="fa fa-circle" aria-hidden="true"></i></li>
          </ul>
        </div>
      </div>
<div class="w-control">
  <div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div style="display:block" class="review-text" id="text1">
        <p>A greate logo can instantly elevate your business, and logo joy gets you  there at a fraction of cost of working with a designer. I highly recommend it.</p>
        <p>
          <img src="../../assets/images/gig.png" class="img-fluid img-circle"  style="border-radius:50px;width:45px;height:45px;">&nbsp;<span>Samir, Loot 66</span>
        </p>
      </div>

      <div style="display:none" class="review-text" id="text2">
          <p>2 greate logo can instantly elevate your business, and logo joy gets you  there at a fraction of cost of working with a designer. I highly recommend it.</p>
          <p>
            <img src="../../assets/images/gig.png" class="img-fluid img-circle"  style="border-radius:50px;width:45px;height:45px;">&nbsp;<span>Samir, Loot 66</span>
          </p>
        </div>

        <div style="display:none" class="review-text" id="text3">
            <p>3 greate logo can instantly elevate your business, and logo joy gets you  there at a fraction of cost of working with a designer. I highly recommend it.</p>
            <p>
              <img src="../../assets/images/gig.png" class="img-fluid img-circle"  style="border-radius:50px;width:45px;height:45px;">&nbsp;<span>Samir, Loot 66</span>
            </p>
          </div>

          <div style="display:none" class="review-text" id="text4">
              <p>4 greate logo can instantly elevate your business, and logo joy gets you  there at a fraction of cost of working with a designer. I highly recommend it.</p>
              <p>
                <img src="../../assets/images/gig.png" class="img-fluid img-circle"  style="border-radius:50px;width:45px;height:45px;">&nbsp;<span>Samir, Loot 66</span>
              </p>
            </div>
    </div>
    
     
        
  </div>
  </div>
</div>
</div><br><br><br>


<!-- earn -->

<div class="w-control">
<div class="container">
  
 <div class="row">
    <div class="col-xs-12">
      <div class="earn-text">
          <h1>Earn With Us</h1>
          <h3>Ever wanted to sell your digital goods? Sign up with us and we'll help you distribute your products to a wide audience. Get started earning money today!</h3>
      </div>
      
    </div>
  </div><br><br>

<div class="row">
  <div class="col-xs-12">
      <div class="earn">
      <i class="fa fa-home"></i>
      <p>Open your shop and reach millions of buyers</p>
      <button class="btn btn-primary">READY TO START?BECOME AN AUTHOR TODAY!</button>
  </div>
</div>
</div>

</div><br><br><br>

<div class="container">
    <div class="row numbers">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="number">
          <i class="fa fa-book"></i> <span>7,000+</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="number">
            <i class="fa fa-heart"></i> <span>7,000+</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="number">
              <i class="fa fa-check"></i> <span>7,000+</span>
              </div>
            </div>
      </div>
</div><br><br><br>


<!-- topics -->
<div class="container">
  <div class="row">
    <div class="col-xs-12" style="text-align:center">
      <div class="topics-text"><br>
        <h1 style="color:green">Explore Popular Topics</h1>
        <ul>
          <li>Audio</li>
          <li>Business Development</li>
          <li>Code</li>
          <li>Elements</li>
          <li>Euro Tour</li>
          <li>Featured Authors</li>
          <li>Graphics</li>
          <li>Photography</li>
          <li>Themes & Templates</li>
          <li>Video</li>
          <li>Wordpress</li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
</body>