<app-header></app-header>
<app-header1></app-header1>

<div class="w-control">
    <div class="container">
      <div  class="row">
        <app-settings-profile></app-settings-profile>
  


<div class="col-lg-9 col-md-9 col-xs-12">
<div class="r-f-div">
    <h3 class="p-need headings">
        Profile Details
      </h3>
      <hr class="top-hr">
      <div class="p-need profile-photo-div">
        <div class="p-p-div-title">
            <h4>
              PROFILE PHOTO
            </h4>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
          <div class="p-p-div-pic">
            <img src="http://localhost:3000{{user_img}}" id="change-p-p">
            <label class="custom-p-p" for="c-p-p">CHOOSE PHOTO</label>
            <input type="file" value="CHOOSE PHOTO" id="c-p-p" name="c-p-p" (change)="fileChange($event)" accept=".jpg,.png"><br>
           
            <p>This photo is your identity on fiverr<br> and appears on your profile and gigs.</p>
          </div>
          <div class="name-div p-need">
            <div class="p-l-f-div">
              <span class="p-f-titles">
                First Name*
              </span>
              <br>
              <input type="text" id="u-f-name" name="u-f-name" value="" >
            </div>
            <div class="p-r-f-div">
              <span class="p-f-titles">
                Email Address*
              </span>
              <br>
              <input type="text" id="u-l-name" name="u-l-name" value="" >
            </div>
          </div>
          <div class="name-div p-need">
            <!-- <div class="p-l-f-div">
              <span class="p-f-titles">Designation*</span><br>
              <input type="text" id="u-designation" name="u-designation" value="">
            </div> -->
            <!-- <div class="p-l-f-div">
              <span class="p-f-titles">Email*</span><br>
              <input type="text" id="u-email" name="u-email" value="" >
            </div>
            <div class="p-l-f-div">
                <span class="p-f-titles">Designation*</span><br>
                <input type="text" id="u-designation" name="u-designation" value="" >
              </div> -->
          </div>
          
          <div class="name-div p-need">
            <span class="p-f-titles">Country*</span><br>
            <input type="text" id="u-skills" name="u-skills" value="" >
          </div>
         
          <!-- <div class="address-div p-need">
            <span class="p-f-titles">Address*</span><br>
            <input type="text" id="u-address" name="u-address" value=""  ><br>
            <span class="p-f-titles">City*</span><br>
            <input type="text" id="u-city" name="u-city" value=""  ><br>
            <span class="p-f-titles">Country*</span><br>
            <input type="text" id="u-country" name="u-country" value=""  ><br>
          </div> -->
          <hr>
          <div class="p-need">
            <h4 id="s-ab-you-title">SOMETHING ABOUT YOU (English)<br>(150-300 characters)</h4>
            <textarea id="s-ab-you" name="s-ab-you" style="resize:none" maxlength="300"  ></textarea>
            <div class="clear-both"></div>
            <span class="char-count"><span id="char-now"></span>/300 MAX</span>
          </div>
          <hr>
          <div class="save-btn-area">
            <input type="submit" class="save-button" value="Save Settings" (click)="saveUser()">
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
