<app-header></app-header>

<div class="w-control">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
          <h2 id="orders-title">My Feedback</h2>
      </div>
    </div><br>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 feedback-text">
        <h4>We'd love to hear from you about the products you've purchased.</h4>
        <p>Click a star to give the product  a rating and write a little something to lrt us know why you gave that score.</p>
        <p style="font-family:cursive;color:#999">Note:Click a star to give the product  a rating and write a little something to lrt us know why you gave that score.</p>
      </div>
    </div>

<hr>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-xs-3">
      <div class="feed-img"></div>
        
    </div>
    <div style="left:-5%" class="col-lg-9 col-md-9 col-xs-9">
 <p style="color:#10A1EF;font-weight:500">Memory car png image</p>
 <p>Purchased:02-10-2014</p>
 <p>*****</p>
 </div>
  </div>
  </div>
</div>
<hr>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div class="feed-img"></div>
         
      </div>
      <div style="left:-5%" class="col-lg-9 col-md-9 col-xs-9">
   <p style="color:#10A1EF;font-weight:500">Memory car png image</p>
   <p>Purchased:02-10-2014</p>
   <p>*****</p>
   </div>
    </div>
    </div>
  </div>

  </div>
</div>




<!-- pop up in feedback -->
<div class="container feed-pop">
<div class="row" style="padding:20px;border-bottom:0.5px solid #ddd;height:10vh">
  <div class="col-lg-6 col-md-6 col-xs-6">
    <h3>My Feedback</h3>
  </div>

  <div class="col-lg-6 col-md-6 col-xs-6">
      <i style="float:right;" class="fa fa-times"></i>
    </div>
</div>
<br>

<div class="feed-width">

<div class="row">
    <div class="col-lg-5 col-md-5 col-xs-5">
      <div class="feed-img"></div>
       
    </div>
    <div style="left:-5%" class="col-lg-7 col-md-7 col-xs-7">
 
 <p>6-in-1 rRechargable Grooming Set</p>
 <p>*****</p>
 </div>

 
  </div><br><br>

  <div class="row pop">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <textarea style="padding:10px" class="text-area" placeholder="Please select a star rating and leave your feedback here"></textarea><br><br>

        <button class="btn btn-success btn-md">SUBMIT FEEDBACK</button><br><br>
    </div>
  </div>

  </div>


</div><br>




<!-- pop up in feedback after submitting-->
<div class="container feed-pop">
    <div class="row" style="padding:20px;border-bottom:0.5px solid #ddd;height:10vh">
      <div class="col-lg-6 col-md-6 col-xs-6">
        <h3>Your review has been submitted!</h3>
      </div>
    
      <div class="col-lg-6 col-md-6 col-xs-6">
          <i style="float:right;" class="fa fa-times"></i>
        </div>
    </div>
    <br>
    
    
    
    <div class="row">
        
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="continue">
          <p>Thank you! Your review is currently waiting to be approved. Once that finished you will be able to see here!</p>
          <p>In the mean time checkout  some of today's great deals!</p><br>
          <button class="btn btn-success">CONTINUE SHOPPING</button>
          </div>
        </div>
    
     
      </div><br><br>
    
    </div>
