<app-header></app-header>

<div class="main-body">
    <div class="user-dash-core">
        <div class="clear-both"></div>
        <div class="whole-dash w-control">
          <div class="account-warning-div" *ngIf = alert><i class="fa fa-info-circle" aria-hidden="true"></i><span id="war-pad"> &nbsp; Your account is missing your details needed to indentify your account. <a routerLink='/settings'>Click here to update.</a></span></div>
              <div class="dash-left">
                <div class="user-tech-details">
                  <div class="tech-det-top">
                    <img src="" id="user-img">
                    <h3 id="u-name">
                      first_name last_name
                    </h3>
                    <h4 id="designation">
                      designation
                    </h4>
                  </div>
                  <div class="tech-det-tabs">
                    <ul>
                      <li>
                        <span class="t-d-tabs-name">
                          <i class="fa fa-map-marker" aria-hidden="true" style="margin-right:10px"></i>
                          From
                        </span>
                        <span class="t-d-tabs-value">
                            country
                        </span>
                      </li>
                      <li>
                        <span class="t-d-tabs-name">
                          <i class="fa fa-globe" aria-hidden="true" style="margin-right:10px"></i>Languages
                        </span>
                        <span class="t-d-tabs-value">
                          <ul id="lan">
                            <li>English</li>
                            <li>Hindi</li>
                          </ul>
                        </span>
                      </li>
                      <li id="flex-col"><span id="bio-title"><i class="fa fa-info-circle" aria-hidden="true" style="margin-right:10px"></i>Bio</span>
                        <span
                          class="bio-desc">
                           description
                          </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dash-right">
                <div id="dash-welcome-div">
                  <h2>Welcome to Market place !</h2>
                  <h3>You are now part of global community of over 518,316 creatives. We're happy to have you onboard.</h3>
                </div>
                <a routerLink='/create-gig'>
                    <div id="create-project-div">
                      <i class="fa fa-plus" aria-hidden="true" style="font-size:450%;color:#75787d"></i>
                      <h3>Create your first project</h3>
                      <h5>Millions of talented freelancers are here to help you do amazing things.</h5>
                    </div>
                  </a>
                    <div class="to-dos">
                      <table>
                        <tr>
                          <td class="to-do-header"><span id="to-do-head">TO-DOS(2)</span></td>
                        </tr>
                        <tr *ngFor="let x of new_not">
                          <td>
                            <div class="to-do-left"><i class="fa fa-gift" aria-hidden="true" style="font-size:35px;color:rgb(0, 224, 224)"></i><span class="to-do">msg</span><br>&emsp;&emsp;&emsp;<span class="to-do-new">NEW !</span></div>
                            <input
                              type="button" class="rev-btn" value="Review now" (click)="go_to_order([x.link])"></td>
                        </tr>
                        <tr>
                          <td>
                            <div class="to-do-left"><img src="" class=""><span class="to-do">You received a Gig offer</span><br><span class="to-do-new">NEW !</span></div>
                            <input
                              type="button" class="rev-btn" value="Review now"></td>
                        </tr>
                      </table>
                    </div>


                   

              </div>
         
        </div>
    </div>
</div>


<!-- dashboard when diamond icon selected -->
<div class="container" style="height:100vh;">
<div class="row">
  <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="text1">
      <h2>NAVIGATION</h2>
      </div>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-12 ">
      <div class="text1">
      <h3><i class="fa fa-times"></i></h3>
      </div>
  </div>
</div><br><br>
    
   
    <div class="row">
      
       
            <div class="col-lg-4 col-md-4 col-xs-12 dashboard1">
               <div class="text">
                <i class="fa fa-home"></i>
                <p >Dashboard</p>
               </div> 
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12 dashboard1">
                  <div class="text">
                  <i class="fa fa-user"></i>
                  <p>Profile</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 dashboard1">
                    <div class="text">
                    <i class="fa fa-envelope"></i>
                    <p>Mailbox</p>
                    </div>
                  </div>
      
    </div><br>
    
    <div class="row">
        
          <div class="col-lg-4 col-md-4 col-xs-12 dashboard1">
              <div class="text">
            <i class="fa fa-bars"></i>
            <p>Tasks</p>
            </div>
          </div>
      
          <div class="col-lg-4 col-md-4 col-xs-12 dashboard1">
              <div class="text">
              <i class="fa fa-cog"></i>
              <p>Settings</p>
              </div>
            </div>
      
            <div class="col-lg-4 col-md-4 col-xs-12 dashboard1">
                <div class="text">
                <i class="fa fa-calendar"></i>
                <p>Calendar</p>
                </div>
              </div>
        
      </div>
    
    </div>
      