<div style="background-color:white"  class="col-lg-12 col-md-12 col-xs-12">
    <div style="background-color:#292C2E;" class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 profile">
<img src="../../assets/images/gig.png" class="img-fluid" style="border-radius:35px;width:65px;height:65px">
<h2>Pradeep</h2>
<p>Professionals nec</p>
<p>pkonduru@oulook.com</p><br>
      </div>
    </div><br>

    <div class="row profile-about">
        <div class="col-lg-6 col-md-6 col-xs-6">
          <i class="fa fa-user-o"></i>
          <span>About me</span>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-6">
            <i style="float:right;color:green" class="fa fa-check-circle"></i>
            
          </div>
    </div><br>

    <div class="row profile-about">
        <div class="col-lg-6 col-md-6 col-xs-6">
          <i class="fa fa-user-o"></i>
          <span>Contact details</span>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-6">
            <i style="float:right;color:green" class="fa fa-check-circle"></i>
            
          </div>
    </div><br>

    <div class="row profile-about">
        <div class="col-lg-6 col-md-6 col-xs-6">
          <i class="fa fa-user-o"></i>
          <span>Address details</span>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-6">
            <i style="float:right;color:green" class="fa fa-check-circle"></i>
            
          </div>
    </div><br>

    <div class="row profile-about">
        <div class="col-lg-6 col-md-6 col-xs-6">
          <i class="fa fa-user-o"></i>
          <span>Tax residency details</span>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-6">
            <i style="float:right;color:green" class="fa fa-check-circle"></i>
            
          </div>
    </div><br>
  </div>