.oi-bottom a {
    color: #111;
  }
  
  .m-core {
    position: relative;
    display: block;
    margin-top: 11vh;
  }
  
  .user-top-nav {
    font-size: 90%;
  }
  
  .manage-orders-core {
    position: relative;
    display: inline-block;
    width: 80vw;
    height: auto;
    margin-left: 10vw;
    margin-top: 50px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  #t-close {
    position: absolute;
    display: inline-block;
    top: 3%;
    left: 98%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
  }
  
  #orders-title {
    position: relative;
    display: block;
    text-align: left;
    font-size: 190%;
    color: #000;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  
  #orders-title::after {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    height: 5px;
    width: 40px;
    background-color: #F9BF3B;
    color: #F9BF3B;
  }
  
  .orders-div {
    position: relative;
    display: block;
    float: right;
    height: auto;
    width: 79%;
    background-color: #F9F9F9;
    padding: 0px 20px 10px 20px;
  }
  
  .orders-core {
    position: relative;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: auto;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #F9F9F9;
  }
  
  #h2 {
    height: 50px;
    vertical-align: middle;
  }
  
  #h2 h2 {
    margin-left: 20px;
    font-size: 100%;
  }
  
  .top-header {
    position: relative;
    display: block;
    margin-bottom: 40px;
  }
  
  .top-header a {
    color: rgba(0, 0, 0, 0.5);
    padding-top: 15px;
  }
  
  .top-header li {
    position: relative;
    margin-left: 20px;
  }
  
  .selected {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #4169e1 !important;
    border-top: 4px solid #4169e1;
  }
  
  .task {
    position: relative;
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    overflow: visible;
    padding-bottom: 10px;
  }
  
  .task h3 {
    position: relative;
    display: block;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    font-size: 100%;
  }
  
  .task h4 {
    position: relative;
    display: block;
    color: #0a0a0a;
    margin-bottom: 10px;
    font-size: 100%;
  }
  
  .task h5 {
    position: relative;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    font-size: 90%;
  }
  
  .active-tab {
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 101%;
    transform: translate(-80%, -50%);
    padding: 3px 5px;
    height: 25px;
    width: 100px;
    font-size: 70%;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 0 5px 1px #ddd;
    color: #fff;
    background-color: #00ced1;
  }
  
  .finished-tab {
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 101%;
    transform: translate(-80%, -50%);
    padding: 3px 5px;
    height: 25px;
    width: 100px;
    font-size: 70%;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 0 5px 1px #ddd;
    color: #fff;
    background-color: #ff5e07;
  }
  
  .pay-summary {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #F2F1EF;
    overflow: hidden;
  }
  
  .pay-sum-items {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    border-left: 1px solid #f2f1ef;
    width: 25%;
    overflow: hidden;
  }
  
  .pay-ico-core {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    height: 50%;
  }
  
  .pay-sum-icons {
    font-size: 260% !important;
    color: #8DF2E3;
  }
  
  .pay-sum-core {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: row;
    height: 50%;
    width: 100%;
    padding: 4px 5px;
  }
  
  .pay-num {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    font-size: 140%;
    font-weight: bold;
    width: auto;
    padding-left: 10px;
    margin-right: 10px;
  }
  
  .pay-desc {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    padding-left: 2px;
    overflow: hidden;
    font-size: 90%;
  }
  
  .pay-sum-core h3 {
    position: relative;
    display: block;
    font-size: 100% !important;
    font-weight: bold;
    text-align: left;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .pay-sum-core h4 {
    position: relative;
    display: block;
    font-size: 90%;
    text-align: left !important;
    margin: 0 !important;
  }
  
  .oi-top table {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 80%;
    overflow: hidden;
  }
  
  .oi-top table tbody {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }
  
  
  /* Extra Small Devices, .visible-xs-* */
  
  @media (max-width: 767px) {
    .m-core {
      position: relative;
      display: block;
      margin-top: 0vh;
    }
    .manage-orders-core {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 0 !important;
      margin-left: 0 !important;
      margin-top: 50px;
      margin-bottom: 30px;
      overflow: hidden;
    }
    #t-close {
      position: absolute;
      display: inline-block;
      top: 3%;
      left: 98%;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.9);
      cursor: pointer;
    }
    #orders-title {
      position: relative;
      display: block;
      text-align: center;
      font-size: 190%;
      color: #000;
      font-weight: bold;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
    #orders-title::after {
      content: '';
      position: absolute;
      display: block;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 5px;
      width: 40px;
      background-color: #F9BF3B;
      color: #F9BF3B;
    }
    .my-gigs-index {
      position: relative;
      display: block;
      width: 80%;
      margin: 10px auto;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      background-color: #f5f5f5;
    }
    .index-head {
      position: relative;
      display: block;
      font-size: 130%;
      font-weight: bold;
      padding: 10px 15px;
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: left;
    }
    .index-item {
      position: relative;
      display: block;
      width: 100%;
      background-color: transparent;
      text-align: left;
      padding: 8px 15px;
      border: none;
      border-left: 3px solid transparent;
    }
    .selected-index {
      border-left: 3px solid #72bf40 !important;
    }
    .orders-div {
      position: relative;
      display: block;
      height: auto;
      width: 95%;
      background-color: #f9f9f9;
      padding: 0px 20px 10px 20px;
      overflow: hidden;
    }
    #h2 {
      height: 50px;
      vertical-align: middle;
    }
    #h2 h2 {
      margin-left: 20px;
      font-size: 100%;
    }
    .top-header {
      position: relative;
      display: block;
      margin-bottom: 40px;
    }
    .top-header a {
      color: rgba(0, 0, 0, 0.5);
      padding-top: 15px;
    }
    .top-header li {
      position: relative;
      margin-left: 20px;
    }
    .selected {
      position: relative;
      display: inline-block;
      font-weight: bold;
      color: #4169e1 !important;
      border-top: 4px solid #4169e1;
    }
    .task {
      position: relative;
      display: block;
      margin-top: 20px;
      border-bottom: 1px solid #ddd;
      overflow: visible;
      padding-bottom: 10px;
    }
    .task h3 {
      position: relative;
      display: block;
      font-weight: bold;
      color: #000;
      margin-bottom: 10px;
      font-size: 100%;
    }
    .task h4 {
      position: relative;
      display: block;
      color: #0a0a0a;
      margin-bottom: 10px;
      font-size: 100%;
    }
    .task h5 {
      position: relative;
      display: block;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 0px;
      font-size: 90%;
    }
    .active-tab {
      position: absolute;
      display: inline-block;
      top: 5%;
      left: 101%;
      transform: translate(-80%, -50%);
      padding: 3px 5px;
      height: 25px;
      width: 100px;
      font-size: 70%;
      border: none;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      box-shadow: 0 0 5px 1px #ddd;
      color: #fff;
      background-color: #00ced1;
    }
    .finished-tab {
      position: absolute;
      display: inline-block;
      top: 5%;
      left: 101%;
      transform: translate(-80%, -50%);
      padding: 3px 5px;
      height: 25px;
      width: 100px;
      font-size: 70%;
      border: none;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      box-shadow: 0 0 5px 1px #ddd;
      color: #fff;
      background-color: #ff5e07;
    }
    .pay-summary {
      position: relative;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      flex-wrap: nowrap;
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      background-color: #fff;
      border: 1px solid #F2F1EF;
      overflow: hidden;
    }
    .pay-sum-items {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      border: none;
      border-bottom: 1px solid #f2f1ef;
      width: 95%;
      padding: 20px 0;
      margin: 20px auto;
      overflow: hidden;
    }
    .pay-ico-core {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      width: 100%;
      text-align: left;
      padding-left: 20px;
      height: 50%;
    }
    .pay-sum-icons {
      font-size: 260% !important;
      color: #8DF2E3;
    }
    .pay-sum-core {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      flex-direction: row;
      height: 50%;
      width: 100%;
      padding: 4px 5px;
    }
    .pay-num {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      font-size: 140%;
      font-weight: bold;
      width: auto;
      padding-left: 10px;
      margin-right: 10px;
    }
    .pay-desc {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: flex-start;
      -webkit-align-items: flex-start;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      flex-direction: column;
      width: 50%;
      padding-left: 2px;
      overflow: hidden;
      font-size: 90%;
    }
    .pay-sum-core h3 {
      position: relative;
      display: block;
      font-size: 100% !important;
      font-weight: bold;
      text-align: left;
      margin: 0 !important;
      padding: 0 !important;
    }
    .pay-sum-core h4 {
      position: relative;
      display: block;
      font-size: 90%;
      text-align: left !important;
      margin: 0 !important;
    }
    .orders-div {
      height: auto;
      margin: 10px auto;
      text-align: center;
      background-color: #f9f9f9;
      border: none;
      position: relative;
      display: flex;
      display: -webkit-flex;
      width: 100%;
      height: auto;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      overflow: hidden;
    }
    .order-item {
      position: relative;
      display: inline-flex;
      display: -webkit-inline-flex;
      float: left !important;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      height: 220px;
      width: 100%;
      margin-bottom: 20px;
      overflow: hidden;
    }
    .oi-top {
      position: relative;
      display: block;
      width: 100%;
      height: 25%;
      padding-bottom: 5px;
      text-align: left;
      background-color: #00C7BE;
    }
    .oi-top table tr {
      position: relative;
      display: block;
      width: 100%;
      height: 50%;
      border: none !important;
    }
    .oi-top table th {
      position: relative;
      color: #fff;
      font-weight: bold;
    }
    .oi-top table td,
    .oi-top table th {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
      width: 33% !important;
      height: 100% !important;
    }
    .oi-middle {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 55%;
      padding: 10px 10px;
      background-color: #F6F5F4;
    }
    .oi-middle h3 {
      position: relative;
      display: block;
      width: 100%;
      font-size: 120%;
      font-weight: bold;
      margin: 2px auto 10px auto;
      text-align: left;
    }
    .milestone-back {
      position: relative;
      display: block;
      height: 25px;
      width: 100%;
      border-right: 4px solid #00CC00;
      background-color: #fff;
    }
    .milestone-main {
      position: relative;
      display: block;
      height: 100%;
      background-color: #00CCCC;
    }
    .milestone-dets {
      position: relative;
      display: block;
      width: 100%;
      font-size: 80%;
    }
    .oi-bottom {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: row;
      width: 100%;
      height: 20%;
      background-color: #FBFBFA;
      border-top: 1px solid #CCCCCC;
      border-bottom: 1px solid #CCCCCC;
      padding: 5px 0;
    }
    .oi-bottom-items {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-grow: 1;
    }
    #oi-bottom-middle::before {
      content: '';
      position: absolute;
      display: block;
      top: 0%;
      left: 0%;
      width: 1px;
      height: 100%;
      background-color: #797979;
      color: #797979;
    }
    #oi-bottom-middle::after {
      content: '';
      position: absolute;
      display: block;
      top: 0%;
      left: 100%;
      width: 1px;
      height: 100%;
      background-color: #797979;
      color: #797979;
    }
    .oi-bottom i {
      margin: 0 3px !important;
    }
  }
  
  
  /* Small Devices, .visible-sm-* */
  
  @media (min-width: 768px) and (max-width: 991px) {
    .m-core {
      position: relative;
      display: block;
      margin-top: 0vh;
    }
    .manage-orders-core {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 0 !important;
      margin-left: 0 !important;
      margin-top: 50px;
      margin-bottom: 30px;
      overflow: hidden;
    }
    #t-close {
      position: absolute;
      display: inline-block;
      top: 3%;
      left: 98%;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.9);
      cursor: pointer;
    }
    #orders-title {
      position: relative;
      display: block;
      text-align: center;
      font-size: 190%;
      color: #000;
      font-weight: bold;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
    #orders-title::after {
      content: '';
      position: absolute;
      display: block;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 5px;
      width: 40px;
      background-color: #F9BF3B;
      color: #F9BF3B;
    }
    .my-gigs-index {
      position: relative;
      display: block;
      width: 80%;
      margin: 10px auto;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      background-color: #f5f5f5;
    }
    .index-head {
      position: relative;
      display: block;
      font-size: 130%;
      font-weight: bold;
      padding: 10px 15px;
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: left;
    }
    .index-item {
      position: relative;
      display: block;
      width: 100%;
      background-color: transparent;
      text-align: left;
      padding: 8px 15px;
      border: none;
      border-left: 3px solid transparent;
    }
    .selected-index {
      border-left: 3px solid #72bf40 !important;
    }
    .orders-div {
      position: relative;
      display: block;
      height: auto;
      width: 95%;
      background-color: #f9f9f9;
      padding: 0px 20px 10px 20px;
      overflow: hidden;
    }
    .orders-core {
      position: relative;
      display: flex;
      display: -webkit-flex;
      width: 100%;
      height: auto;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      overflow: hidden;
    }
    #h2 {
      height: 50px;
      vertical-align: middle;
    }
    #h2 h2 {
      margin-left: 20px;
      font-size: 100%;
    }
    .top-header {
      position: relative;
      display: block;
      margin-bottom: 40px;
    }
    .top-header a {
      color: rgba(0, 0, 0, 0.5);
      padding-top: 15px;
    }
    .top-header li {
      position: relative;
      margin-left: 20px;
    }
    .selected {
      position: relative;
      display: inline-block;
      font-weight: bold;
      color: #4169e1 !important;
      border-top: 4px solid #4169e1;
    }
    .task {
      position: relative;
      display: block;
      margin-top: 20px;
      border-bottom: 1px solid #ddd;
      overflow: visible;
      padding-bottom: 10px;
    }
    .task h3 {
      position: relative;
      display: block;
      font-weight: bold;
      color: #000;
      margin-bottom: 10px;
      font-size: 100%;
    }
    .task h4 {
      position: relative;
      display: block;
      color: #0a0a0a;
      margin-bottom: 10px;
      font-size: 100%;
    }
    .task h5 {
      position: relative;
      display: block;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 0px;
      font-size: 90%;
    }
    .active-tab {
      position: absolute;
      display: inline-block;
      top: 5%;
      left: 101%;
      transform: translate(-80%, -50%);
      padding: 3px 5px;
      height: 25px;
      width: 100px;
      font-size: 70%;
      border: none;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      box-shadow: 0 0 5px 1px #ddd;
      color: #fff;
      background-color: #00ced1;
    }
    .finished-tab {
      position: absolute;
      display: inline-block;
      top: 5%;
      left: 101%;
      transform: translate(-80%, -50%);
      padding: 3px 5px;
      height: 25px;
      width: 100px;
      font-size: 70%;
      border: none;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      box-shadow: 0 0 5px 1px #ddd;
      color: #fff;
      background-color: #ff5e07;
    }
    .pay-summary {
      position: relative;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      flex-wrap: nowrap;
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      background-color: #fff;
      border: 1px solid #F2F1EF;
      overflow: hidden;
    }
    .pay-sum-items {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      border: none;
      border-bottom: 1px solid #f2f1ef;
      width: 95%;
      padding: 20px 0;
      margin: 20px auto;
      overflow: hidden;
    }
    .pay-ico-core {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      width: 100%;
      text-align: left;
      padding-left: 20px;
      height: 50%;
    }
    .pay-sum-icons {
      font-size: 260% !important;
      color: #8DF2E3;
    }
    .pay-sum-core {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      flex-direction: row;
      height: 50%;
      width: 100%;
      padding: 4px 5px;
    }
    .pay-num {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      font-size: 140%;
      font-weight: bold;
      width: auto;
      padding-left: 10px;
      margin-right: 10px;
    }
    .pay-desc {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: flex-start;
      -webkit-align-items: flex-start;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      flex-direction: column;
      width: 50%;
      padding-left: 2px;
      overflow: hidden;
      font-size: 90%;
    }
    .pay-sum-core h3 {
      position: relative;
      display: block;
      font-size: 100% !important;
      font-weight: bold;
      text-align: left;
      margin: 0 !important;
      padding: 0 !important;
    }
    .pay-sum-core h4 {
      position: relative;
      display: block;
      font-size: 90%;
      text-align: left !important;
      margin: 0 !important;
    }
    .orders-div {
      position: relative;
      display: block;
      height: auto;
      width: 80%;
      margin: 10px auto;
      text-align: center;
      background-color: #f9f9f9;
      border: none;
      overflow: hidden;
    }
    .order-item {
      position: relative;
      display: inline-flex;
      display: -webkit-inline-flex;
      float: left !important;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      height: 220px;
      width: 100%;
      margin-bottom: 20px;
      overflow: hidden;
    }
    .oi-top {
      position: relative;
      display: block;
      width: 100%;
      height: 25%;
      padding-bottom: 5px;
      text-align: left;
      background-color: #00C7BE;
    }
    .oi-top table tr {
      position: relative;
      display: block;
      width: 100%;
      height: 50%;
      border: none !important;
    }
    .oi-top table th {
      position: relative;
      color: #fff;
      font-weight: bold;
    }
    .oi-top table td,
    .oi-top table th {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
      width: 33% !important;
      height: 100% !important;
    }
    .oi-middle {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 55%;
      padding: 10px 10px;
      background-color: #F6F5F4;
    }
    .oi-middle h3 {
      position: relative;
      display: block;
      width: 100%;
      font-size: 120%;
      font-weight: bold;
      margin: 2px auto 10px auto;
      text-align: left;
    }
    .milestone-back {
      position: relative;
      display: block;
      height: 25px;
      width: 100%;
      border-right: 4px solid #00CC00;
      background-color: #fff;
    }
    .milestone-main {
      position: relative;
      display: block;
      height: 100%;
      background-color: #00CCCC;
    }
    .milestone-dets {
      position: relative;
      display: block;
      width: 100%;
      font-size: 80%;
    }
    .oi-bottom {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: row;
      width: 100%;
      height: 20%;
      background-color: #FBFBFA;
      border-top: 1px solid #CCCCCC;
      border-bottom: 1px solid #CCCCCC;
      padding: 5px 0;
    }
    .oi-bottom-items {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-grow: 1;
    }
    #oi-bottom-middle::before {
      content: '';
      position: absolute;
      display: block;
      top: 0%;
      left: 0%;
      width: 1px;
      height: 100%;
      background-color: #797979;
      color: #797979;
    }
    #oi-bottom-middle::after {
      content: '';
      position: absolute;
      display: block;
      top: 0%;
      left: 100%;
      width: 1px;
      height: 100%;
      background-color: #797979;
      color: #797979;
    }
    .oi-bottom i {
      margin: 0 3px !important;
    }
  }





/* new order */
.order-div{
    height: auto;
    width: 40%;
    border: 0.5px solid #ddd;
    
}
.order-img{
    background: url("../../assets/images/gig.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25vh;
    width: 100%;
   
}
.text{
    padding: 10px;
}
.text h3{
    font-size: 130%;
}
.text p{
    font-size: 80%;
}
.order-display{
    display: flex;
}
.progress1{
    display: flex;
}
.progress1 p{
    margin: 12px;
    text-transform: uppercase;
    font-size: 70%;
    color:#999;
    font-weight: 450;
    left: 10%;
    transform: translate(53%,0)
}
.progress2{
    width: 80%;
    left:10%;
    transform: translate(10%,0);
    border-radius: 25px;
}




  
  
  /* Medium Devices, .visible-md-* */
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .m-core {
      position: relative;
      display: block;
      margin-top: 11vh;
    }
    .user-top-nav {
      font-size: 90%;
    }
    .manage-orders-core {
      position: relative;
      display: block;
      width: 980px;
      margin: 40px auto;
    }
    .my-gigs-index {
      position: relative;
      display: inline-block;
      float: left;
      width: 15%;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      background-color: #f5f5f5;
    }
    .index-head {
      position: relative;
      display: block;
      font-size: 130%;
      font-weight: bold;
      padding: 10px 15px;
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: left;
    }
    .index-item {
      position: relative;
      display: block;
      width: 100%;
      background-color: transparent;
      text-align: left;
      padding: 8px 15px;
      border: none;
      border-left: 3px solid transparent;
    }
    .selected-index {
      border-left: 3px solid #72bf40 !important;
    }
    .orders-div {
      position: relative;
      display: inline-block;
      float: right;
      height: auto;
      width: 85%;
      background-color: #f9f9f9;
      border: none;
      overflow: hidden;
    }
    .order-item {
      position: relative;
      display: inline-flex;
      display: -webkit-inline-flex;
      float: left !important;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      height: 220px;
      width: 390px;
      margin-bottom: 20px;
      overflow: hidden;
    }
    .oi-top {
      position: relative;
      display: block;
      width: 100%;
      height: 25%;
      padding-bottom: 5px;
      text-align: left;
      background-color: #00C7BE;
    }
    .oi-top table tr {
      position: relative;
      display: block;
      width: 100%;
      height: 50%;
      border: none !important;
    }
    .oi-top table th {
      position: relative;
      color: #fff;
      font-weight: bold;
    }
    .oi-top table td,
    .oi-top table th {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
      width: 33% !important;
      height: 100% !important;
    }
    .oi-middle {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 55%;
      padding: 10px 10px;
      background-color: #F6F5F4;
    }
    .oi-middle h3 {
      position: relative;
      display: block;
      width: 100%;
      font-size: 120%;
      font-weight: bold;
      margin: 2px auto 10px auto;
      text-align: left;
    }
    .milestone-back {
      position: relative;
      display: block;
      height: 25px;
      width: 100%;
      border-right: 4px solid #00CC00;
      background-color: #fff;
    }
    .milestone-main {
      position: relative;
      display: block;
      height: 100%;
      background-color: #00CCCC;
    }
    .milestone-dets {
      position: relative;
      display: block;
      width: 100%;
      font-size: 80%;
    }
    .oi-bottom {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: row;
      width: 100%;
      height: 20%;
      background-color: #FBFBFA;
      border-top: 1px solid #CCCCCC;
      border-bottom: 1px solid #CCCCCC;
      padding: 5px 0;
    }
    .oi-bottom-items {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-grow: 1;
    }
    #oi-bottom-middle::before {
      content: '';
      position: absolute;
      display: block;
      top: 0%;
      left: 0%;
      width: 1px;
      height: 100%;
      background-color: #797979;
      color: #797979;
    }
    #oi-bottom-middle::after {
      content: '';
      position: absolute;
      display: block;
      top: 0%;
      left: 100%;
      width: 1px;
      height: 100%;
      background-color: #797979;
      color: #797979;
    }
  }
  
  
  /* Large Devices, .visible-lg-* */
  
  @media (min-width: 1200px) {
    .m-core {
      position: relative;
      display: block;
      margin-top: 11vh;
    }
    .user-top-nav {
      font-size: 90%;
    }
    .manage-orders-core {
      position: relative;
      display: block;
      width: 980px;
      margin: 40px auto;
    }
    .my-gigs-index {
      position: relative;
      display: inline-block;
      float: left;
      width: 15%;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      background-color: #f5f5f5;
    }
    .index-head {
      position: relative;
      display: block;
      font-size: 130%;
      font-weight: bold;
      padding: 10px 15px;
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: left;
    }
    .index-item {
      position: relative;
      display: block;
      width: 100%;
      background-color: transparent;
      text-align: left;
      padding: 8px 15px;
      border: none;
      border-left: 3px solid transparent;
    }
    .selected-index {
      border-left: 3px solid #72bf40 !important;
    }
    .orders-div {
      position: relative;
      display: inline-block;
      float: right;
      height: auto;
      width: 85%;
      background-color: #f9f9f9;
      border: none;
      overflow: hidden;
    }
    .order-item {
      position: relative;
      display: inline-flex;
      display: -webkit-inline-flex;
      float: left !important;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      height: 220px;
      width: 390px;
      margin-bottom: 20px;
      overflow: hidden;
    }
    .oi-top {
      position: relative;
      display: block;
      width: 100%;
      height: 25%;
      padding-bottom: 5px;
      text-align: left;
      background-color: #00C7BE;
    }
    .oi-top table tr {
      position: relative;
      display: block;
      width: 100%;
      height: 50%;
      border: none !important;
    }
    .oi-top table th {
      position: relative;
      color: #fff;
      font-weight: bold;
    }
    .oi-top table td,
    .oi-top table th {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
      width: 33% !important;
      height: 100% !important;
    }
    .oi-middle {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 55%;
      padding: 10px 10px;
      background-color: #F6F5F4;
    }
    .oi-middle h3 {
      position: relative;
      display: block;
      width: 100%;
      font-size: 120%;
      font-weight: bold;
      margin: 2px auto 10px auto;
      text-align: left;
    }
    .milestone-back {
      position: relative;
      display: block;
      height: 25px;
      width: 100%;
      border-right: 4px solid #00CC00;
      background-color: #fff;
    }
    .milestone-main {
      position: relative;
      display: block;
      height: 100%;
      background-color: #00CCCC;
    }
    .milestone-dets {
      position: relative;
      display: block;
      width: 100%;
      font-size: 80%;
    }
    .oi-bottom {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: row;
      width: 100%;
      height: 20%;
      background-color: #FBFBFA;
      border-top: 1px solid #CCCCCC;
      border-bottom: 1px solid #CCCCCC;
      padding: 5px 0;
    }
    .oi-bottom-items {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-grow: 1;
    }
    #oi-bottom-middle::before {
      content: '';
      position: absolute;
      display: block;
      top: 0%;
      left: 0%;
      width: 1px;
      height: 100%;
      background-color: #797979;
      color: #797979;
    }
    #oi-bottom-middle::after {
      content: '';
      position: absolute;
      display: block;
      top: 0%;
      left: 100%;
      width: 1px;
      height: 100%;
      background-color: #797979;
      color: #797979;
    }
  }
  
  