.profile{
    align-items:center;
    justify-content:center;
    text-align:center;
    padding: 10px;
    top:10%;
    transform:translate(0,10%);
    color: white;
}
.profile h2{
    font-size: 130%;
}
.profile-about{
    background-color:#F2F4F6;
    width:100%;
    border-radius:3px;
    padding:10px;
    left:10%;
    transform:translate(5%,0)
}
.profile-about i{
    font-size: 25px;
}
.profile-about span{
    font-size: 100%;
    font-weight: 400;
}
.portfolio-div{
    clear:both !important;
  }
.save-button{
  float: right !important;
  margin-top: 0px !important;
}
.p-need{
  width: 80% !important;
  margin: 0 auto !important;
}
.btn-primary{
    background-color: #058DD4;
    border-color: transparent;
    height: 5vh;
    border-radius: 3px;
    font-size: 100%;
    font-weight: 450;
    float: right;
    left:-50%;
    transform: translate(-83%,0)
}
.why-leave {
    display: flex;
    left:50%;
    transform: translate(12%,0)
}
@media screen and (min-width:220px) and (max-width:740px){
  .name-div .p-r-f-div {
    position: relative;
    display: block;
    width: 100%;
  }
  .r-f-div {
    position: relative;
    display: inline-block;
    background-color: #fff;
    left: -5%;
    top: 40%;
    transform: translate(0,40%)
  }
  .headings {
    width: 100%;
    float: left;
    
  }
  
  .name-div .p-l-f-div {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 !important;
  }
  .why-leave-div h4 {
    position: relative;
    text-align: center
  }
  
  #y-leaving {
    width: 100%;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 0px;
    font-size: 110%;
  }
  
  .close-acc-div ul {
    position: relative;
    left:0% !important;
    
  }
  .bold{
    white-space: normal !important;
  }
}
@media screen and (min-width:750px) and (max-width:1024px) {
  .w-control{
    width: 100%;
  }
}