
<div class="w-control">
    <div class="container">
      <div  class="row">
      
        <div class="col-lg-9 col-md-9 col-xs-12">
            <div class="r-f-div">
                <h3 class="p-need headings">Account</h3>
                <hr class="top-hr">
                <div class="name-div p-need">
                  <div class="p-l-f-div col-lg-6 col-xs-12">
                    <h4 id="close-act-title">Close Account</h4>
                  </div>
                  <div class="p-r-f-div close-acc-div col-lg-6 col-xs-12">
                    <p class="bold">
                      What happens when you deactivate your account?
                    </p>
                    <ul>
                      <li>Your profile and gigs won't be shown on Fiverr anymore</li>
                      <li>Any open orders will be cancelled and refunded</li>
                      <li>You won't be able to re-activate you gigs</li>
                    </ul>
                    <p style="white-space:normal" id="withdraw-revenues" class="bold">
                      Please <a routerLink=''>withdraw your revenues</a> before you deactivate yor account.
                    </p>
                  </div>
                </div>
                <hr>
                <div class="why-leave">
                  <p>Why are you leaving?</p>&nbsp;

                  <select style="left:50%;transform:translate(15%,0);width:50%;border-radius:3px"  name="y-leaving">
                      <option selected="true" disabled="disabled">Choose a reason</option>
                      <option value="I no longer need this service">I no longer need this</option>
                      <option value="Not happy with services">Not happy with services</option>
                      <option value="I do not understand Market Place">I do not understand Market Place</option>
                    </select>
                </div><br>
                <div class="pswd-text1">
                    <button class="bnt btn-primary">Save Settings</button>
                    </div>
              </div>
              
              
          
        </div>
      </div><br>
  
      
    </div>
  </div>