<app-header></app-header>
<app-header1></app-header1>

<div class="inbox-container">
    <div class="width-desktop  w-control">
    <div class="inbox-core">
  		<h2 id="mailbox-title">Mailbox</h2><br>
  		<span class="msg-msg">You have <span class="unread-num">5</span> unread messages</span>
  		<div class="mailbox-nav-div">
        <ul>
          <li><button>Inbox</button></li>
          <!--<li><button>Sent</button></li>
          <li><button>Trash</button></li>-->
        </ul>
  		</div>
      <div class="inbox-in">
  		<div class="left-contacts">
  			<div class="contacts-core"><br>
            <div style="left:10%;transform:translate(5%,0)" class="form-group">
                <input type="text" class="form-control" placeholder="search" style="border-radius:25px;background-color:#EEEEEE;height:5vh;width:90%;border-color:transparent;">
                <i style="position:absolute;top:15%;left:80%;" class="fa fa-search"></i>
                
              </div>
          <div class="contact" id="con">

              

            <div class="contact-wrap">
              <div class="contact-img-div">
                <img src="../../assets/images/pro-pic.jpg" class="contact-img">Harry
              </div>
              <div class="contact-msg-table-div">
                <table class="contact-msg-table">
                  <tr><td><span class="contact-name"></span></td><td><span class="date">28/1/2017</span></td></tr>
                  <tr><td colspan="2">
                    <span class="msg-hint">
                      Hello !
                    </span>
                  </td></tr>
                </table>
              </div>
            </div>
          </div>
  			</div>
  		</div>
  		<div class="messages-div">
        
        <div class="user-msgs-core">

          <div class="user-msgs-top">

            <div class="msgs-top-left">

            </div>
            <div class="msgs-top-right">

            </div>

          </div>
          <!-- User message body -->
          <div class="user-msgs-middle">

            <div class="his-msgs msgs">

              <div class="msgs-pro-pic">
                <img src="../../assets/images/pro-pic.jpg" alt="">
              </div>
              <div class="msgs-msg">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quod modi ea laboriosam quas aliquid dicta, quibusdam repellat porro magnam quisquam unde aut? Adipisci ratione, fuga temporibus quibusdam dignissimos sint?
                </p>
              </div>

            </div>

            <div class="my-msgs msgs">
  
              <div class="msgs-pro-pic">
                <img src="../../assets/images/pro-pic.jpg" alt="">
              </div>
              <div class="msgs-msg">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                </p>
              </div>
  
            </div>
          </div>


          <!-- User message input box -->
          <div class="user-msgs-btm">
            <textarea class="msg-box"></textarea>
            <button class="btn btn-success" (click)="send_msg()">Send</button>
          </div>
        </div>

  		</div>
  		</div>
      </div>
    </div>
    </div>
      <div class="clear-both"></div>
    <!-- </div> -->
