<app-header></app-header>
<app-header1></app-header1>

<div class="order-buyer">
  <div class="container">
    <div class="row">
    <div class="col-lg-9 col-md-9 col-xs-9">
<h3>Design 3 professional And  Stunning Logo  Concepts In 24 Hrs...</h3>
<div class="display">
  <p>Seller:Harry</p>&nbsp;|&nbsp;
  <p>Order:#FOA123GHL</p>&nbsp;|&nbsp;
  <p>August 25, 2017</p>
</div>
     </div> 

     <div class="col-lg-3 col-md-3 col-xs-3">
       <div class="order-start">
          <i class="fa fa-motorcycle" aria-hidden="true"></i>
          <h4>ORDER STARTED</h4>
          </div>
     </div>
     </div>
  </div>
</div><br>

<div class="w-control">

<div class="container">
  <div class="row chat">
    <div class="col-lg-3 col-md-3 col-xs-12 padding" style="display:flex">
      <img src="../../assets/images/gig.png" class="img-fluid" style="width:70px;height:70px;border-radius:5px">&nbsp;&nbsp;&nbsp;
      <div>
      <span style="font-size:120%;font-weight:700">Designdesk S.</span><br>
      <span><i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp;9:48am</span>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-12 padding1">
    <button style="width:50%;color:rgb(66, 65, 65);font-weight:500;" class="btn btn-default btn-sm">Chat</button>
    </div>
    
    <div class="col-lg-3 col-md-3 col-xs-12 padding">
    <p style="font-size:120%;font-weight:450;">$5 USD in 1 day</p>
    <p style="font-size:80%;font-weight:600;">ACCEPTED</p>
    </div> 
    
    <div class="col-lg-3 col-md-3 col-xs-12 padding1">
        <button style="color:rgb(66, 65, 65);font-weight:500;" class="btn btn-default btn-sm">End Project</button>
        </div> 
  </div><br>



  <div class="row chat1">

      <table style="width:100%;padding:10px;" class="table table-responsive">
         
        <tr style="width:100%;">
          <th>Item</th>
          <th>Quantity</th>
          <th>Duration</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>Be your personal wordpress expert</td>
          <td>1</td>
          <td>3 Days</td>
          <td>$20.00</td>
        </tr>
        <tr>
          <td>Processing Fee(5%)</td>
          <td></td><td></td>
          <td>$1.00</td>
        </tr>
      </table>
    
  </div><br>

  <div class="row feedback">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div style="display:block">
      <div class="rate">
        <i class="fa fa-comment-o"></i>
        <p>PLEASE RATE YOUR EXPERIENCE</p>
      </div><br>

     <div class="feedback1">
       <div class="feedback-text">
         <p>Please select a star rating and leave your comments below</p>&nbsp;&nbsp;
         <p style="float:right">*****</p>
       </div>

       <textarea class="text-area" placeholder="Please select a star rating and leave your feedback here"></textarea><br><br>

       <button class="btn btn-success btn-md">SUBMIT FEEDBACK</button><br><br>
     </div><br>
</div>



<div style="display:none">
    <div class="rate">
        <i class="fa fa-comment-o"></i>
        <p>ORDER REVIEWS</p>
      </div><br>

      <div class="feedback1">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">
              <div style="padding:10px;">
              <h3 style="color:green;font-size:100%;font-weight:500;">soumenbiswas <span style="color:#999">added over 2 years ago</span></h3>
              <p>Not so greate resume templates</p>
              </div>
            </div>
   
            <div class="col-lg-4 col-md-4 col-xs-12">
               <div style="padding:10px;">
              2*****
              </div>
            </div>
          </div>
    
           
         </div><br>
</div>
     

    </div>
  </div><br>



  
</div>

</div>