<app-header></app-header>

<div class="m-core">
    <div class="manage-orders-core my-fav-div  w-control">
      <h2 id="orders-title">My Favorites</h2>
        <div class="no-fav-div">
          <h3>You have no favorites</h3>
          <p>
            Instead of feeling empty, why don't you <a routerLink='/categories'>browse Marketplace</a> to see if
            you can find some items you like?
          </p>
        </div>
        

        <!-- GIG -->
        <div class="container home-gig-container">

            <div class="home-gigs-row">
              
                <div class="gig">
                  <div class="gig-img"></div>
                  <div class="gig-text">
                  <h1>Machine Learning A-Z:Hands-On Hands-On Python & R In...</h1>
                    <h3>By Peter Moxon</h3>
              
                    <div class="stars">*****</div>
                    </div>
                    <div class="price">
                        <i class="fa fa-user"></i>&nbsp;
                        <p>129 Completed</p>
                        <p id="price-val">Starting  At <span>$27</span></p>
              
                    </div>
                </div>
              
          
              
                  <div class="gig">
                    <div class="gig-img"></div>
                    <div class="gig-text">
                    <h1>Machine Learning A-Z:Hands-On Hands-On Python & R In...</h1>
                      <h3>By Peter Moxon</h3>
                
                      <div class="stars">*****</div>
                      </div>
                      <div class="price">
                          <i class="fa fa-user"></i>&nbsp;
                          <p>129 Completed</p>
                          <p id="price-val">Starting  At <span>$27</span></p>
                
                      </div>
                  </div>
                
          
                
                    <div class="gig">
                      <div class="gig-img"></div>
                      <div class="gig-text">
                      <h1>Machine Learning A-Z:Hands-On Hands-On Python & R In...</h1>
                        <h3>By Peter Moxon</h3>
                  
                        <div class="stars">*****</div>
                        </div>
                        <div class="price">
                            <i class="fa fa-user"></i>&nbsp;
                            <p>129 Completed</p>
                            <p id="price-val">Starting  At <span>$27</span></p>
                  
                        </div>
                    </div>
                  
          
                  
                      <div class="gig">
                        <div class="gig-img"></div>
                        <div class="gig-text">
                        <h1>Machine Learning A-Z:Hands-On Hands-On Python & R In...</h1>
                          <h3>By Peter Moxon</h3>
                    
                          <div class="stars">*****</div>
                          </div>
                          <div class="price">
                              <i class="fa fa-user"></i>&nbsp;
                              <p>129 Completed</p>
                              <p id="price-val">Starting  At <span>$27</span></p>
                    
                          </div>
                      </div>
                   
            </div><br>




    </div>
</div>
      
        
      